

@font-face {
    font-family: "BebasBold";
    src: url("../fonts/BebasBold.eot");
    src: url("../fonts/BebasBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/BebasBold.woff") format("woff"),
    url("../fonts/BebasBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}