
@open: 'Open Sans', Arial, sans-serif;
@pt: 'PT Sans', Arial, sans-serif;
@besa: 'BebasBold', Arial, sans-serif;

@black: #222;
@gray-light: #f6f6f6;
@grey: #eaeaea;
@red: #E73B2B;
@grey-dark: #9b9b9b;
@green: #349c4a;


// breakpoint
@break_larger: 1550px;
@break_large: 1440px;
@break_big: 1200px;
@break_middle: 1023px;
@break_small: 767px;
@break_phone: 399px;