
// Other content
.p-part__title{
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 86px;
    text-align: center;

    @media screen and (max-width: @break_larger){
        font-size: 34px;
        margin-bottom: 50px;
    }

    @media screen and (max-width: @break_middle){
        margin-bottom: 55px;
    }
}


/*== initiative ==*/
.b-initiat{
    .clearfix();
    margin-bottom: 185px;
}

.b-initiat__img{
    position: relative;
    float: left;
    width: 33.3%;
    height: 673px;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    color: #ffffff;

    &:after{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, .4);
    }
}

.b-initiat__img-content{
    position: relative;
    padding: 41px 8.5% 40px;
    z-index: 2;
}

.b-initiat__img-title{
    font-size: 33px;
    font-weight: 800;
    line-height: 1;
}

.b-initiat__img-text{
    position: absolute;
    z-index: 2;
    right: 8.5%;
    left: 8.5%;
    bottom: 33px;
    font-size: 22px;
    line-height: 33px;
    font-family: @pt;
}

.b-initiat__img-tag{
    margin-top: 14px;
}

//second column
.b-initiat__text{
    position: relative;
    float: left;
    height: 768px;
    width: 33.3%;
    background-color: @gray-light;
    color: @black;
    .box-sizing(border-box);

    &:after{
        content: '';
        position: absolute;
        .triangle(40px, 145px, @gray-light, 'right');
        right: -40px;
        top: 36%;
        margin-top: -70px;
    }
}

.b-initiat__text-inner{
    position: relative;
    padding-top: 104px;
    padding-left: 17%;
    padding-right: 18%;
    padding-bottom: 20px;
    font-size: 22px;
    line-height: 33px;
    color: @black;
    font-family: @pt;

    &:before,
    &:after{
        content: '\"';
        position: absolute;
        display: block;
        color: @black;
        font-family: @open;
        font-size: 64px;
        font-weight: 800;
        font-style: italic;
        line-height: 1;
    }

    &:before{
        left: 21px;
        top: 47px;
    }

    &:after{
        right: 44px;
        bottom: -60px;
    }
}


//last column
.b-initiat__author{
    float: left;
    width: 33.3%;
    height: 673px;

    .b-autor{
        position: relative;
        top: 50%;
        .transform(translate(0, -53%));
    }
}

.b-autor{
    text-align: center;
    color: #ffffff;
}

.b-autor__ava{
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 200px;
    overflow: hidden;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #cccccc;
    background-position: 50% 50%;
    margin: 0 auto 35px;
}

.b-autor__name{
    font-size: 33px;
    line-height: 1;
    font-weight: 800;
    margin-bottom: 15px;
}

.b-author__sub{
    font-size: 22px;
    line-height: 1;
}

@media screen and (max-width: @break_larger){
    .b-initiat{
        margin-bottom: 100px;
    }

    .b-initiat__img{
        height: 600px;
    }

    .b-initiat__img-title{
        font-size: 24px;
    }

    .b-initiat__img-text{
        font-size: 18px;
        line-height: 24px;
    }

    .b-initiat__img-tag .b-tag{
        font-size: 18px;
    }

    .b-initiat__text{
        height: 670px;
    }

    .b-initiat__text-inner{
        font-size: 18px;
        line-height: 24px;
    }

    .b-initiat__author{
        height: 600px;
    }

    .b-autor__ava{
        width: 180px;
        height: 180px;
        border-radius: 180px;
    }

    .b-autor__name{
        font-size: 24px;
    }

    .b-author__sub{
        font-size: 18px;
    }
}

@media screen and (max-width: @break_big) {
    .b-initiat{
        margin-bottom: 81px;
    }

    .p-part__title{
        margin-bottom: 25px;
    }

    .b-initiat__img{
        height: auto;
        float: none;
        width: 100%;
        .box-sizing(border-box);
        padding: 40px 3.5% 40px;
    }

    .b-initiat__img-content{
        padding: 0;
        margin-bottom: 36px;
    }

    .b-initiat__img-text{
        position: relative;
        bottom: auto;
        left: auto;
        right: auto;
        max-width: 63%;
    }

    .b-initiat__img-text-inner{
        min-height: 105px;
    }

    .b-initiat__text{
        height: 477px;
        width: 723px;
        margin-right: -182px;
        padding-right: 200px;

        &:after{
            display: none;
        }
    }

    .b-initiat__text-inner{
        padding-left: 71px;
        padding-top: 82px;
        padding-right: 66px;

        &:before{
            font-size: 48px;
        }

        &:after{
            font-size: 48px;
        }
    }

    .b-initiat__author{
        height: 467px;
        width: 363px;
        position: relative;
        top: -53px;
    }
}

@media screen and (max-width: @break_middle) {
    .b-initiat{
        margin-bottom: 94px;
    }

    .b-initiat__img{
        padding-left: 32px;
        padding-right: 32px;
    }

    .b-initiat__img-text{
        max-width: 95%;
    }

    .b-initiat__img-text-inner{
        min-height: 78px;
    }

    .b-initiat__text{
        width: 493px;
        height: auto;
        min-height: 0;
        margin-right: -163px;
    }

    .b-initiat__text-inner{
        padding: 54px 0 60px 59px;
        min-height: 300px;

        &:before{
            font-size: 34px;
            top: 37px;
        }

        &:after{
            font-size: 34px;
            bottom: 20px;
            right: -11px;
        }
    }

    .b-initiat__author{
        width: 319px;
        top: -45px;
        height: 378px;
    }

    .b-autor{
        .transform(translate(0, -56%));
    }

    .b-autor__ava{
        width: 140px;
        height: 140px;
        border-radius: 140px;
        margin-bottom: 16px;
    }
}

@media screen and (max-width: @break_small) {
    .p-part__title{
        margin-bottom: 35px;
    }

    .b-initiat{
        position: relative;
        margin-bottom: 60px;
    }

    .b-initiat__img{
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 31px;
        min-height: 280px;
    }

    .b-initiat__img-content{
        margin-bottom: 26px;
    }

    .b-initiat__img-tag{
        margin-bottom: 19px;
    }

    .b-initiat__author{
        position: absolute;
        left: 30px;
        right: 0;
        top: 253px;
        height: 166px;
        width: auto;
    }

    .b-initiat__author .b-autor{
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        .transform(none);
        top: 0;
        text-align: left;
        padding-left: 152px;
        padding-top: 48px;
    }

    .b-autor__ava{
        position: absolute;
        left: 30px;
        top: 30px;
        width: 100px;
        height: 100px;
        border-radius: 100px;
        margin-bottom: 0;
    }

    .b-initiat__text{
        margin-right: 0;
        width: auto;
        padding: 185px 30px 50px 30px;
    }

    .b-initiat__text-inner{
        padding: 0;
        line-height: 22px;
        min-height: 0;

        &:before{
            top: -29px;
            left: -26px;
        }

        &:after{
            bottom: -30px;
            right: -20px;
        }
    }

}