
/* == Office ==*/
.b-office__title{
    text-align: left;
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 88px;
}

//slider
.b-office-slider{
    display: none !important;
    margin-left: 30px;
    height: 216px;
    margin-bottom: 30px;

    .slick-slide{
        height: 216px;
    }
}

.b-office-slider__i{
    display: block;
    float: left;
    vertical-align: top;
    position: relative;
    width: 327px;
    margin-right: 20px;
    height: 216px;
    text-decoration: none !important;
    color: #ffffff !important;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
}


.b-office{
    .clearfix();
}

.b-office__img{
    float: left;
    width: 50%;
}

.b-office__img-i{
    float: left;
    height: 360px;
    width: 50%;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.b-office__adress{
    float: left;
    width: 50%;
}

.b-office__map{
    height: 720px;
    background-color: #cccccc;
    position: relative;
    overflow: hidden;

    iframe{
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        left: 0;
    }
}

.b-office__contact{
    height: 360px;
    padding-top: 59px;
    .box-sizing(border-box);
    padding-left: 4.7%;
    padding-right: 8%;
    overflow: hidden;

    h5{
        font-size: 33px;
        color: @black;
        font-weight: 800;
        line-height: 1;
        margin-bottom: 6px;
    }

    p{
        font-size: 22px;
        line-height: 30px;
        margin-bottom: 20px;
    }
}

.b-social__i{
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    font-size: 20px;
    color: #000000 !important;
    text-decoration: none !important;
    .transition(all .15s ease);

    &.type_gp{
        position: relative;
        top: 4px;
    }
}

/*== Events ==*/
.b-events{
    .clearfix();
    margin-bottom: 117px;
}

.b-events__i{
    float: left;
    width: 25%;
    height: 360px;
}

.b-event__content{
    overflow: hidden;
    max-height: 205px;
}

.b-event{
    position: relative;
    padding-top: 45px;
    padding-left: 3%;
    padding-right: 3%;
    .box-sizing(border-box);
    color: @black !important;
    text-decoration: none !important;
    .transition(all .15s ease);

    &.type-dark{
        background-color: #e3e3e3;
    }

    &.type-gray{
        background-color: #f6f6f6;
    }

    &.type-big{
        width: 50%;
        padding-top: 57px;

        .b-event__title{
            font-size: 33px;
            font-weight: 800;
            margin-bottom: 26px;
        }

        .b-event__text{
            font-size: 22px;
            line-height: 28px;
            max-width: 65%;
        }
    }
}

.b-event__title{
    font-size: 22px;
    line-height: 33px;
    margin-bottom: 8px;
    font-weight: 800;
}

.b-event__text{
    font-size: 16px;
    line-height: 22px;
}

.b-event__date{
    position: absolute;
    left: 13%;
    bottom: 69px;
    font-size: 22px;
    text-transform: uppercase;
}

@media screen and (max-width: @break_larger) {
    .b-office__title{
        font-size: 34px;
        margin-bottom: 50px;
    }

    .b-office__img-i{
        height: 300px;
    }

    .b-office__map{
        height: 600px;
    }

    .b-office__contact{
        height: 300px;

        h5{
            font-size: 24px;
            line-height: 1;
        }

        p{
            font-size: 18px;
            line-height: 24px;
        }
    }

    .b-events{
        margin-bottom: 100px;
    }

    .b-event{
        height: 300px;

        &.type-big{
            .b-event__title{
                font-size: 24px;
                line-height: 1;
            }

            .b-event__text{
                font-size: 18px;
                line-height: 24px;
            }
        }
    }

    .b-event__content{
        max-height: 190px;
    }

    .b-event__title{
        font-size: 18px;
        line-height: 24px;
    }

    .b-event__text{
        font-size: 14px;
        line-height: 19px;
    }

    .b-event__date{
        font-size: 14px;
        bottom: 30px;
    }

    .b-tweet__tags{
        .b-tag{
            font-size: 14px;
        }
    }

    .b-tweet__icon{
        font-size: 14px;
    }
}

@media screen and (max-width: @break_big) {
    .b-events{
        margin-bottom: 96px;
    }

    .b-office__title{
        margin-bottom: 51px;
    }

    .b-office__img-i{
        height: 225px;
    }

    .b-office__map{
        height: 450px;
    }

    .b-office__contact{
        height: 225px;
        padding: 39px 20px 0 31px;
        .box-sizing(border-box);

        h5{
            margin-bottom: 16px;
        }
    }

    .b-event{
        height: 225px;
        padding: 20px 20px 0 22px;
        .box-sizing(border-box);
        overflow: hidden;

        &.type_big{
            padding-top: 35px;

            .b-event__title{
                margin-bottom: 35px;
            }

            .b-event__text{
                max-width: 80%;
            }
        }
    }

    .b-event__content{
        max-height: 150px;
    }

    .b-event__date{
        left: 23px;
        bottom: 22px;
    }
}

@media screen and (max-width: @break_middle){
    .b-office__title{
        margin-bottom: 33px;
    }

    .b-office__img{
        float: none;
        width: 100%;
        .clearfix();
    }

    .b-office__img-i{
        width: 33.3%;
        height: 216px;
    }

    .b-office__adress{
        width: 100%;
        height: 216px;
        float: none;
        .clearfix();
    }

    .b-office__map{
        float: left;
        width: 33.3%;
        height: 100%;
    }

    .b-office__contact{
        height: 100%;
        float: left;
        width: 66.6%;
        .box-sizing(border-box);
        padding-left: 26px;
        padding-top: 33px;

        h5{
            font-size: 18px;
            line-height: 1;
            margin-bottom: 20px;
        }
    }

    .b-event.type-big{
        float: none;
        width: 100%;
        height: auto;
        padding-top: 94px;
        margin-bottom: 0;
        padding-bottom: 39px;
        text-align: center;

        .b-event__title{
            margin-bottom: 0;
            font-size: 34px;
        }

        .b-event__text{
            display: none;
        }
    }

    .b-event__content{
        max-height: 94px;
    }

    .b-event{
        padding-top: 21px;
    }

    .b-event__title{
        margin-bottom: 10px;
    }

    .b-events__i{
        width: 50%;
        display: none;
        height: 178px;

        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5){
            display: block;
        }
    }
}

@media screen and (max-width: @break_small) {
    .b-office__title{
        margin-bottom: 28px;
        text-align: center;

        span.text-office{
            display: none;
        }
    }

    .b-office-slider__i{
        width: 260px;
    }

    .b-office-slider{
        display: block !important;
    }

    .b-office{
        padding: 0 30px;
    }

    .b-office__img{
        display: none;
    }

    .b-office__adress{
        position: relative;
        height: auto;
        padding-bottom: 247px;
    }

    .b-office__contact{
        float: none;
        width: auto;
        padding: 0;

        h5{
            margin-bottom: 12px;
        }
    }

    .b-office__map{
        float: none;
        width: auto;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 216px;
    }

    .b-event{
        margin-bottom: 57px;
    }

    .b-event{
        display: none !important;
        margin: 0 30px;
        height: 178px;
        width: auto;
        float: none;

        &:nth-child(1),
        &:nth-child(2){
            display: block !important;
        }
    }

    .b-event.type-big{
        height: auto;
        margin: 0;
        padding-top: 83px;
        padding-bottom: 28px;
    }




}
