


/*== Product ==*/
.b-product{
    .clearfix();
    margin-bottom: 208px;
    background-color: @gray-light;
}

.b-product__con{
    position: relative;
    float: left;
    width: 66.6%;
    min-height: 674px;
    color: #ffffff;

    &:after{
        content: '';
        position: absolute;
        z-index: 3;
        left: 50%;
        margin-left: -65px;
        bottom: -30px;
        display: none !important;
    }
}

.b-product__text{
    .box-sizing(border-box);
    float: left;
    width: 56%;
    padding-left: 5%;
    padding-right: 11%;
    padding-top: 31px;
    padding-bottom: 30px;
    margin-right: 5.5%;
}

.b-product__text-title{
    font-size: 33px;
    line-height: 53px;
    font-weight: 800;
    margin-bottom: 20px;
}

.b-product__text-inner{
    font-size: 22px;
    line-height: 33px;
    font-family: @pt;

    p{
        margin-top: 0;
        margin-bottom: 22px;
    }
}

.b-product__img{
    float: left;
    max-width: 256px;
    height: auto;
    margin-top: 75px;
    margin-right: 50px;
}

.b-product__comment{
    position: relative;
    float: left;
    width: 33.3%;
    min-height: 674px;
}

.b-comment{
    padding-top: 72px;
    padding-left: 8%;
    padding-right: 8%;
}

.b-comment__author{
    .clearfix();
}

.b-comment__ava{
    float: left;
    width: 108px;
    height: 108px;
    border-radius: 108px;
    overflow: hidden;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin-right: 25px;
}

.b-comment__name{
    font-size: 22px;
    line-height: 1;
    color: @black;
    padding-top: 9px;
    overflow: hidden;

    span{
        display: block;
        font-size: 33px;
        line-height: 40px;
        font-weight: 800;
        margin-bottom: 11px;
    }
}

.b-comment__text{
    position: relative;
    padding: 88px 30px 60px 45px;
    font-size: 22px;
    line-height: 33px;
    color: @black;
    font-family: @pt;

    &:before,
    &:after{
        content: '\"';
        position: absolute;
        font-weight: 800;
        color: @black;
        font-size: 64px;
        font-style: italic;
        display: block;
        line-height: 1;
        font-family: @open;
    }

    &:before{
        left: -12px;
        top: 31px;
    }

    &:after{
        right: 2px;
        bottom: -33px;
    }
}

.b-horproduct{
    .clearfix();
    height: 675px;
    margin-bottom: 100px;
}

.b-horproduct__con{
    float: left;
    width: 66.6%;
    height: 100%;
    text-align: center;
    padding-top: 0;
    padding-left: 3.5%;
    padding-right: 3.5%;
    .box-sizing(border-box);
}

.b-horproduct__img{
    display: inline-block;
    height: 350px;
    vertical-align: top;
    margin-bottom: 43px;
    margin-right: 15%;
}

.b-horproduct__content{
    color: @black;
    text-align: left;
}

.b-horproduct__title{
    font-size: 33px;
    font-weight: 800;
    margin-bottom: 21px;
}

.b-horproduct_text{
    font-family: @pt;
    font-size: 22px;
    line-height: 33px;
}

.b-horproduct__comment{
    position: relative;
    float: left;
    width: 33.3%;
    background-color: @gray-light;
    height: 100%;

    &:after{
        content: '';
        position: absolute;
        .triangle(40px, 145px, @gray-light, 'left');
        left: -40px;
        top: 59%;
        margin-top: -70px;
    }
}


@media screen and (max-width: @break_larger){
    .b-product{
        margin-bottom: 100px;
    }

    .b-product__con{
        min-height: 570px;
    }

    .b-product__text{
        padding-bottom: 60px;
    }

    .b-product__text-title{
        font-size: 24px;
        line-height: 33px;
        white-space: nowrap;
    }

    .b-product__text-inner{
        font-size: 18px;
        line-height: 24px;
    }

    .b-product__text .b-tag{
        font-size: 18px;
    }

    .b-product__img{
        max-width: 198px;
        margin-top: 61px;
    }

    .b-product__comment{
        min-height: 570px;
    }

    .b-comment{
        padding-top: 40px;
    }

    .b-comment__ava{
        width: 80px;
        height: 80px;
    }

    .b-comment__name{
        font-size: 18px;

        span{
            font-size: 24px;
            line-height: 1.3;
        }
    }

    .b-comment__text{
        font-size: 18px;
        line-height: 24px;
    }

    //second product
    .b-horproduct{
        height: 550px;
    }

    .b-horproduct__img{
        height: 265px;
        margin-right: 0;
    }

    .b-horproduct__title{
        font-size: 24px;
    }

    .b-horproduct_text{
        font-size: 18px;
        line-height: 24px;
    }
}

@media screen and (max-width: @break_big){
    .b-product{
        margin-top: 50px;
        margin-bottom: 85px;
    }

    .b-product__con{
        width: 63.4%;
        min-height: 652px;
    }

    .b-product__text-title{
        margin-bottom: 33px;
    }

    .b-product__text{
        width: 56%;
        padding-left: 7%;
        padding-right: 6%;
        padding-top: 55px;
        padding-bottom: 30px;
        margin-right: 0;
    }

    .b-product__img{
        margin-top: 139px;
    }

    .b-product__comment{
        width: 36.6%;
        min-height: 652px;

        .b-comment{
            padding-top: 78px;
            padding-left: 9%;
            padding-right: 9%;
        }

        .b-comment__ava{
            margin-right: 12px;
        }

        .b-comment__name span{
            font-size: 18px;
            padding-top: 7px;
            margin-bottom: 7px;

            br{
                display: none !important;
            }
        }

        .b-comment__text{
            padding: 61px 10px 0 30px;

            &:before,
            &:after{
                font-size: 48px;
            }
        }
    }

    //second product
    .b-horproduct__con{
        float: none;
        width: 100%;
        padding: 0;
        margin-top: 44px;
    }

    .b-horproduct{
        height: auto;
        margin-bottom: 78px;
    }

    .b-horproduct__title{
        margin-bottom: 23px;
    }

    .b-horproduct__img{
        width: 403px;
        height: auto;
        float: right;
        margin-left: 30px;
    }

    .b-horproduct__content{
        overflow: hidden;
    }

    .b-horproduct__comment{
        float: none;
        width: 100%;
        margin-top: 40px;

        &:after{
            display: none;
        }

        .b-comment{
            padding-bottom: 122px;
            padding-left: 7.7%;
            padding-right: 7.5%;
            padding-top: 72px;

            &:after{
                content: '';
                position: absolute;
                left: 50%;
                margin-left: -74px;
                top: -28px;
                .triangle(148px, 28px, @gray-light, 'up')
            }
        }

        .b-comment__author{
            position: absolute;
            left: 30px;
            right: 20px;
            bottom: 27px;
        }

        .b-comment__name{
            padding-top: 13px;
            font-size: 18px;
            line-height: 1.5;

            span{
                font-size: 18px;
                margin-bottom: 3px;
            }
        }

        .b-comment__text{
            padding: 0;
            min-height: 100px;

            &:before{
                font-size: 48px;
                left: -47px;
                top: -30px;
            }

            &:after{
                font-size: 48px;
                right: -21px;
                bottom: -49px;
            }
        }
    }
}

@media screen and (max-width: @break_middle){
    .b-product__con{
        float: none;
        width: 100%;
        min-height: 598px;

        &:after{
            display: block !important;
        }
    }

    .b-product__text{
        padding-left: 6%;
        margin-right: 5%;
    }

    .b-product__img{
        max-width: 173px;
    }

    .b-product__comment{
        float: none;
        width: 100%;
        min-height: 0;

        &:after{
            display: none;
        }

        .b-comment{
            padding-bottom: 122px;
            padding-left: 10.4%;
            padding-right: 10.4%;
            padding-top: 61px;
            min-height: 114px;
        }

        .b-comment__author{
            position: absolute;
            left: 37px;
            right: 20px;
            bottom: 37px;
        }

        .b-comment__ava{
            width: 55px;
            height: 55px;
            margin-right: 20px;
        }

        .b-comment__name{
            padding-top: 0;
            font-size: 18px;
            line-height: 1;
            min-height: 74px;

            span{
                padding-top: 0;
                font-size: 18px;
                margin-bottom: 7px;
            }
        }

        .b-comment__text{
            padding: 0;
            min-height: 100px;

            &:before{
                font-size: 34px;
                left: -35px;
                top: -34px;
            }

            &:after{
                font-size: 34px;
                right: -24px;
                bottom: -58px;
            }
        }
    }

    .b-horproduct{
        .clearfix();
        padding-top: 44px;
    }


    .b-horproduct__con{
        margin-top: 0;
        float: left;
        width: 55.4%;
    }

    .b-horproduct__content{
        padding: 0 30px 0 15px;
    }

    .b-horproduct__comment{
        margin-top: 0;
        float: left;
        width: 44.6%;
    }

    .b-horproduct__img{
        float: none;
        height: 198px;
        width: auto;
        margin-left: 0;
        margin-right: 23px;
        margin-bottom: 20px;
    }

    .b-horproduct__text{
        margin-left: 17px;
        margin-right: 27px;
    }

    .b-horproduct__comment{
        .b-comment{
            padding-left: 17%;
            padding-right: 15.5%;
            padding-top: 74px;
            min-height: 377px;
        }

        .b-comment:after{
            display: none;
        }

        .b-comment__text{
            &:before{
                font-size: 34px;
                left: -31px;
                top: -36px;
            }

            &:after{
                font-size: 34px;
                right: -13px;
            }
        }

        .b-comment__author{
            left: 26px;
            right: 20px;
            bottom: 49px;
            min-height: 100px;
        }

        .b-comment__ava{
            width: 55px;
            height: 55px;
            border-radius: 55px;
            margin-right: 18px;
        }

        .b-comment__name{
            padding-top: 5px;

            span{
                line-height: 1;
                margin-bottom: 10px;
            }
        }
    }
}

@media screen and (max-width: @break_small) {
    .b-product{
        margin-bottom: 54px;
    }

    .b-product__con{
        min-height: 0;
    }

    .p-part__content .b-product .b-product__con:after{
        border-left-width: 40px !important;
        border-right-width: 40px !important;
        border-top-width: 26px !important;
        margin-left: -40px !important;
        bottom: -25px !important;
    }

    .b-product__text{
        float: none;
        width: 100%;
        padding: 26px 30px 46px;
    }

    .b-product__text-title{
        margin-bottom: 13px;
        white-space: normal;
    }

    .b-product__img{
        display: none;
    }

    .b-product__comment{
        padding: 54px 30px 132px;
        min-height: 174px;
        .box-sizing(border-box);

        .b-comment__author{
            left: 26px;
            bottom: 21px;
        }

        .b-comment{
            padding: 0;
        }

        .b-comment__text{
            &:before{
                left: -30px;
                top: -28px;
            }

            &:after{
                right: -16px;
                bottom: -58px;
            }
        }
    }

    .b-horproduct{
        padding-top: 0;
        margin-bottom: 42px;
    }

    .b-horproduct__img{
        display: none;
    }

    .b-horproduct__con{
        float: none;
        width: 100%;
        padding: 0 30px;
    }

    .b-horproduct__content{
        padding: 0;
    }

    .b-horproduct__comment{
        float: none;
        width: 100%;
        margin-top: 36px;

        .b-comment{
            padding: 40px 30px 120px;
            min-height: 0;

            &:before{
                content: '';
                position: absolute;
                left: 50%;
                margin-left: -40px;
                top: -26px;
                .triangle(80px, 26px, @gray-light, 'up');
            }
        }

        .b-comment__text:before{
            left: -29px;
            top: -24px;
        }

        .b-comment__author{
            bottom: -12px;
        }
    }
}