

// Prof
.b-prof{
    margin-bottom: 71px;
}

.b-prof__title{
    font-size: 48px;
    font-weight: 800;
    line-height: 1;
    margin-bottom: 79px;
    text-align: center;
}

.b-prof__content{
    .clearfix();
}

.b-prof__first{
    width: 50%;
    margin-right: 3%;
    float: left;
}

.b-hiring{
    position: relative;
}

.b-hiring__img{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -webkit-background-size: cover;
    background-size: cover;
    background-color: #cccccc;

    &:after{
        content: '';
        position: absolute;
        left: 50%;
        margin-left: -40px;
        bottom: 0;
        display: none !important;
    }
}

.b-hiring__content{
    margin-left: 50%;
    width: 50%;
    position: relative;
    color: #ffffff;
    .box-sizing(border-box);
    padding-left: 5.7%;
    padding-right: 3.7%;
    padding-top: 56px;
    padding-bottom: 110px;
    min-height: 520px;

    &:after{
        content: '';
        position: absolute;
        .triangle(40px, 145px, @gray-light, 'left');
        left: -40px;
        top: 50%;
        margin-top: -70px;
    }

    &:before{
        content: '';
        display: none;
        position: absolute;
        .triangle(18px, 78px, @gray-light, 'left');
        left: -18px;
        top: 50%;
        margin-top: -39px;
    }

    h3{
        font-size: 33px;
        line-height: 1;
        font-weight: 800;
        margin-bottom: 16px;
    }

    p{
        font-size: 22px;
        line-height: 30px;
        margin-top: 0;
        margin-bottom: 40px;
    }
}

.b-hiring__contact{
    position: absolute;
    left: 11%;
    right: 10%;
    bottom: 47px;
    font-size: 16px;
    line-height: 23px;
}

.b-prof__sec{
    float: left;
    width: 47%;
}

// tweet
.b-tweet{
    height: 235px;
    margin-bottom: 50px;
    position: relative;

    &.no-bottom{
        margin-bottom: 0;
    }

    &:before{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, .66);
        .transition(all .15s ease);
    }

    &:hover:before{
        background-color: rgba(0, 0, 0, 75);
    }
}



.b-tweet__text{
    position: relative;
    padding-left: 6%;
    padding-right: 6%;
    height: 196px;
    padding-bottom: 39px;
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    font-size: 22px;
    line-height: 33px;
    color: #ffffff;

    &:before,
    &:after{
        content: '\"';
        position: absolute;
        font-size: 64px;
        font-weight: 800;
        color: #ffffff;
        font-style: italic;
        line-height: 1;
    }

    &:before{
        left: 20px;
        top: 23px;
    }

    &:after{
        right: 43px;
        bottom: -13px;
    }
}

.b-tweet__footer{
    position: absolute;
    right: 65px;
    left: 40px;
    bottom: 20px;
    color: #ffffff;
    .clearfix();
}

.b-tweet__tags{
    float: right;

    .b-tag{
        margin-right: 25px;
        color: #ffffff !important;
        text-decoration: none !important;
        .transition(all .15s ease);
    }
}

.b-tweet__icon{
    color: #ffffff;
    font-size: 21px;
}

// Sharing
.b-share{
    padding-top: 62px;
    padding-bottom: 71px;
    background-color: @grey;
    margin-bottom: 84px;
    text-align: center;
}

.b-share__title{
    font-size: 33px;
    line-height: 1;
    margin-bottom: 29px;
    font-weight: 800;
    text-transform: uppercase;
}

[class*="share-link"]{
    display: inline-block;
    vertical-align: top;
    margin: 0 26px;
    font-size: 64px;
    color: #000000;
    text-decoration: none !important;
    .transition(all .15s ease);

    &:hover{
        opacity: .9;
    }
}

@media screen and (max-width: @break_larger) {
    .b-prof{
        margin-bottom: 56px;
    }

    .b-prof__title {
        font-size: 34px;
    }

    .b-hiring__content{
        h3{
            font-size: 24px;
            line-height: 33px;
        }

        p{
            font-size: 18px;
            line-height: 24px;
        }
    }

    .b-tweet__text{
        font-size: 18px;
        line-height: 22px;
    }

    .b-share__title{
        font-size: 24px;
    }

    [class*="share-link"]{
        font-size: 49px;
    }
}

@media screen and (max-width: @break_big) {
    .b-prof__title{
        margin-bottom: 56px;
    }

    .b-prof__first{
        margin-right: 2%;
    }

    .b-prof__sec{
        width: 48%;
    }

    .b-hiring__content{
        padding-top: 18px;
    }

    .b-hiring__content{
        padding-bottom: 65px;
        min-height: 332px;

        &:before{
            display: block;
        }

        &:after{
            display: none !important;
        }

        h3{
            margin-bottom: 0;
        }

        p{
            margin-bottom: 7px;
        }
    }

    .b-hiring__contact{
        font-size: 14px;
        line-height: 19px;
        bottom: 16px;
    }

    .b-tweet{
        height: 160px;
        margin-bottom: 12px;
    }

    .b-tweet__text{
        height: 115px;

        &:before{
            font-size: 48px;
            left: 1px;
            top: 10px;
        }

        &:after{
            font-size: 48px;
            right: 18px;
            bottom: -17px;
        }
    }

    .b-tweet__footer{
        right: 28px;
        left: 15px;
        bottom: 5px;
    }

    .b-share{
        padding-top: 59px;
    }

    .b-share__title{
        margin-bottom: 20px;
    }
}

@media screen and (max-width: @break_middle) {
    .b-prof{
        margin-bottom: 45px;
    }

    .b-prof__title{
        margin-bottom: 48px;
    }

    .b-prof__first{
        width: 66.6%;
        margin-right: 4%;
    }

    .b-prof__sec{
        width: 29.4%;
    }

    .b-hiring__content{
        min-height: 376px;
    }

    .b-tweet{
        height: 376px;

        &:last-child{
            display: none;
        }
    }

    .b-tweet__text{
        height: auto;
        padding: 45px 13px 20px 15px;
        display: block;
        line-height: 23px;

        &:before{
            font-size: 34px;
            left: 5px;
            top: 12px;
        }

        &:after{
            font-size: 34px;
            bottom: -37px;
        }
    }

    .b-tweet__icon{
        font-size: 14px;
        position: absolute;
        right: -15px;
        bottom: 7px;
    }

    .b-tweet__tags{
        float: none;
        margin-bottom: 7px;

        .b-tag{
            font-size: 14px;
            text-transform: uppercase;
        }
    }
}

@media screen and (max-width: @break_small) {
    .b-prof{
        margin-bottom: 0;
    }

    .b-prof__title{
        line-height: 44px;
        margin-bottom: 35px;
    }

    .b-prof__first{
        width: 100%;
        margin: 0;
        float: none;
    }

    .b-hiring__img{
        position: relative;
        height: 290px;
        width: auto;

        &:after{
            display: block !important;
        }
    }

    .b-hiring__content{
        margin: 0;
        padding: 32px 30px 100px;
        width: auto;
        min-height: 300px;

        &:before{
            display: none !important;
        }

        h3{
            margin-bottom: 9px;
        }

        p{
            line-height: 23px;
        }
    }

    .b-hiring__contact{
        font-size: 18px;
        line-height: 36px;
        bottom: 29px;
        left: 30px;
    }

    // tweets
    .b-prof__sec{
        width: auto;
        float: none;
    }

    .b-tweet{
        height: 186px;
        margin-bottom: 0;

        &:last-child{
            display: none;
        }
    }

    .b-tweet__text{
        display: table-cell;
        height: 150px;
        padding: 0 30px;
    }

    .b-tweet__tags{
        float: right;
    }

    .b-tweet__icon{
        right: auto;
        left: -2px;
    }

    .b-share{
        padding: 46px 30px 40px;
        margin-bottom: 30px;
    }

    .b-share__title{
        line-height: 33px;
        margin-bottom: 24px;
    }

    [class*="share-link"]{
        margin: 0 10px;
    }
}