
// slider
.b-slider{
    position: relative;
    z-index: 3;

    &.b-slider_type_small{
        .b-slider__i{
            padding-left: 134px;
            padding-right: 134px;
            padding-top: 86px;
        }

        h5{
            font-size: 33px;
            font-weight: 800;
            line-height: 40px;
            margin-top: 0;
            margin-bottom: 24px;
        }

        p{
            font-size: 22px;
            line-height: 33px;
        }
    }

    &.b-slider_nav_right{
        .b-slider__next{
            left: auto;
            right: 0;
        }

        .slick-dots{
            left: auto;
            right: 110px;
        }

        .b-slider__prev{
            left: auto;
            right: 333px;
        }
    }

    &:after{
        content: '';
        position: absolute;
        left: 100%;
        top: 0;
        bottom: 0;
        width: 60%;
        background-color: #f6f6f6;
        z-index: 1;
    }

    .slick-arrow{
        display: block;
        position: absolute;
        cursor: pointer;
        width: 110px;
        height: 110px;
        background: @black !important;
        .transition(all .15s ease);
        border: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        border-radius: 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        color: #ffffff !important;
        text-decoration: none !important;
        font-size: 50px;
        text-align: center;
        line-height: 110px;

        &:focus{
            outline: none;
        }
    }

    .b-slider__prev{
        bottom: -53px;
        left: 0;
    }

    .b-slider__next{
        bottom: -53px;
        left: 333px;
    }

    .slick-dots{
        position: absolute;
        left: 110px;
        bottom: -53px;
        width: 223px;
        .box-sizing(border-box);
        padding: 0 20px;
        height: 110px;
        text-align: center;
        background-color: #ffffff;


        &:after{
            content: '';
            display: inline-block;
            width: 100%;
            height: 0;
            visibility: hidden;
            overflow: hidden;
        }

        li{
            display: inline-block;
            width: 13px;
            margin: 48px 10px 0;
        }

        [role="button"]{
            display: block;
            cursor: pointer;
            vertical-align: top;
            width: 13px;
            height: 13px;
            border-radius: 13px;
            font-size: 1px;
            overflow: hidden;
            border: none !important;
            -webkit-box-shadow: 0 !important;
            -moz-box-shadow: 0 !important;
            box-shadow: 0 !important;
            background: #d8d8d8 !important;
            .transition(all .15s ease);

            &:focus{
                outline: none !important;
            }
        }

    }
}

.b-slider__i{
    padding-left: 116px;
    padding-right: 125px;
    padding-top: 136px;
    padding-bottom: 91px;
    .box-sizing(border-box);

    &:focus{
        outline: none !important;
    }

    h5{
        font-size: 48px;
        font-weight: 800;
        line-height: 1;
        color: @black;
        margin-top: 0;
        margin-bottom: 42px;
    }

    p{
        font-size: 29px;
        line-height: 40px;
        margin-bottom: 40px;
    }
}

//slider page black
.p-slider{
    position: relative;
    .clearfix();
    margin-bottom: 198px;
}

.p-slider__inner{
    max-width: 1440px;
    margin: 0 auto;
    .clearfix();
}

.p-slider__text{
    float: left;
    width: 57.2%;
    background-color: #f6f6f6;

    &:before{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 50%;
        background-color: #f6f6f6;
        z-index: 1;
    }
}

.p-slider__ava{
    float: left;
    width: 40%;

    &:after{
        content: '';
        position: absolute;
        right: 0;
        top: -112px;
        height: 851px;
        left: 60%;
        z-index: 1;
    }
}

.p-slider__ava-inner{
    position: relative;
    top: -112px;
    padding-top: 63px;
    height: 851px;
    margin-right: -25%;
    z-index: 6;
}

//ava
.b-avatar{
    position: relative;
    color: #ffffff;
    text-align: center;
    .box-sizing(border-box);
}

.b-avatar__sub{
    font-size: 16px;
    font-weight: 800;
    margin-bottom: 58px;
    letter-spacing: 1px;
}

.b-avatar__img{
    display: block;
    margin: 0 auto 67px;
    width: 338px;
    height: 338px;
    border-radius: 338px;
    overflow: hidden;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.b-avatar__name{
    font-size: 48px;
    line-height: 1;
    font-weight: 800;
    margin-bottom: 24px;
}

.b-avatar__text{
    font-size: 22px;
    line-height: 1;
}

// page slider secont type
.pright__title{
    font-size: 48px;
    font-weight: 800;
    line-height: 1;
    margin-bottom: 94px;
    text-align: center;
}

.pright-slider{
    position: relative;
    .clearfix();
    margin-bottom: 160px;
}

.pright-slider__inner{
    max-width: 1440px;
    margin: 0 auto;
    .clearfix();
}

.pright-slider__text{
    float: left;
    width: 57.2%;
    background-color: #f6f6f6;

    &:before{
        content: '';
        position: absolute;
        left: 20%;
        top: 0;
        bottom: 0;
        right: 0;
        background-color: #f6f6f6;
        z-index: 1;
    }
}

.pright-slider__ava{
    float: left;
    width: 40%;

    &:after{
        content: '';
        position: absolute;
        left: 0;
        top: 82px;
        height: 636px;
        width: 40%;
        z-index: 4;
        background-color: @black;
    }
}

.pright-slider__ava-inner{
    margin-left: -19%;
    z-index: 6;
    .box-sizing(border-box);
    top: 82px;
    padding-top: 110px;
    height: 636px;
}

// avatar small
.b-avatar-sm {
    position: relative;
    color: #ffffff;
    text-align: center;
    background-color: @black;
}

.b-avatar-sm__sub {
    margin-bottom: 36px;
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 1px;
}

.b-avatar-sm__img {
    display: block;
    margin: 0 auto 34px;
    width: 200px;
    height: 200px;
    border-radius: 200px;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.b-avatar-sm__name {
    font-size: 33px;
    line-height: 1;
    font-weight: 800;
    margin-bottom: 13px;
}

.b-avatar-sm__text {
    font-size: 22px;
}

@media screen and (max-height: 725px){
    .p-slider__ava-inner{
        top: -50px;
    }

    .p-slider__ava:after{
        top: -50px;
    }
}


@media screen and (max-width: @break_larger){
    .pright__title{
        font-size: 34px;
        margin-bottom: 50px;
    }

    .p-slider__inner{
        max-width: 1200px;
    }

    .b-slider__i{
        h5{
            font-size: 34px;
        }

        p{
            font-size: 22px;
            line-height: 33px;
        }
    }

    .p-slider__ava:after{
        height: 750px;
    }

    .p-slider__ava-inner{
        height: 750px;
        margin-right: -18%;
    }

    .b-avatar__name{
        font-size: 34px;
        margin-bottom: 15px;
    }

    .b-avatar__text{
        font-size: 18px;
    }



    // second
   .pright-slider__inner{
       max-width: 1200px;
   }

    .pright-slider__ava-inner{
        margin-left: -9%;
    }

}

@media screen and (max-width: @break_big){
    .p-slider{
        margin-bottom: 184px;
        background-color: @gray-light;
    }

    .p-slider__inner,
    .pright-slider__inner{
        max-width: 904px;
    }

    .b-slider:after{
        display: none;
    }

    .b-slider__i{
        padding-top: 88px;
        padding-left: 5px;

        h5{
            margin-bottom: 37px;
        }

        p{
            margin-bottom: 33px;
        }
    }

    .p-slider__text{
        width: 59.5%;
    }

    .p-slider__ava:after {
        top: -122px;
        height: 595px;
    }

    .p-slider__ava-inner{
        top: -122px;
        height: 595px;
        padding-top: 57px;
    }

    .b-avatar__sub{
        font-size: 14px;
        margin-bottom: 50px;
    }

    .b-avatar__img{
        width: 215px;
        height: 215px;
        border-radius: 215px;
        margin-bottom: 46px;
    }

    .b-slider{
        .b-slider__prev,
        .b-slider__next{
            width: 85px;
            height: 85px;
            font-size: 34px;
            line-height: 85px;
            bottom: -40px;
        }

        .b-slider__prev{
            left: 0;
        }

        .b-slider__next{
            left: 358px;
        }

        .slick-dots{
            left: 85px;
            width: 273px;
            height: 85px;
            bottom: -40px;

            li{
                margin-top: 40px;
            }
        }
    }

    //second
    .b-slider{

        &.b-slider_type_small{
            h5{
                font-size: 24px;
                margin-bottom: 41px;
            }

            p{
                font-size: 18px;
                line-height: 24px;
            }

            .b-slider__i{
                padding-left: 63px;
                padding-right: 0;
                padding-top: 82px;
            }
        }

        &.b-slider_nav_right{
            .b-slider__next{
                right: 0;
            }

            .slick-dots{
                right: 85px;
            }

            .b-slider__prev{
                right: 358px;
            }
        }
    }

    .pright-slider__text:before{
        left: 22%;
    }

    .pright-slider__ava:after{
        height: 528px;
        top: 85px;
    }

    .pright-slider__ava-inner{
        height: 528px;
        top: 85px;
        margin-left: -15%;
        padding-top: 79px;
    }

    .b-avatar-sm__sub{
        font-size: 14px;
        margin-bottom: 39px;
    }

    .b-avatar-sm__img{
        width: 180px;
        height: 180px;
        border-radius: 180px;
        margin-bottom: 53px;
    }

    .b-avatar-sm__name{
        font-size: 24px;
        margin-bottom: 18px;
    }

    .b-avatar-sm__text{
        font-size: 19px;
    }
}

@media screen and (max-width: @break_middle) {
    .p-slider{
        margin-bottom: 184px;
    }

    .pright-slider{
        margin-bottom: 151px;
    }

    .p-slider__inner,
    .pright-slider__inner{
        max-width: 768px;
    }

    .b-slider__i{
        padding-top: 67px;
        padding-left: 64px;
        padding-right: 50px;

        h5{
            font-size: 24px;
            margin-bottom: 28px;
        }

        p{
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 24px;
        }
    }

    .p-slider__text{
        width: 56.5%;
    }

    .p-slider__ava:after {
        top: -75px;
        height: 445px;
    }

    .p-slider__ava-inner{
        top: -75px;
        height: 445px;
        padding-top: 37px;
        margin-right: -7%;
    }

    .b-avatar__sub{
        font-size: 14px;
        margin-bottom: 42px;
    }

    .b-avatar__img{
        width: 170px;
        height: 170px;
        border-radius: 170px;
        margin-bottom: 20px;
    }

    .b-avatar__name{
        font-size: 24px;
        margin-bottom: 14px;
    }

    .b-avatar__text{
        font-size: 18px;
    }

    .b-slider{
        .b-slider__prev,
        .b-slider__next{
            width: 65px;
            height: 65px;
            font-size: 24px;
            line-height: 65px;
            bottom: -33px;
        }

        .b-slider__prev{
            left: 64px;
        }

        .b-slider__next{
            left: 318px;
        }

        .slick-dots{
            left: 129px;
            width: 189px;
            height: 65px;
            bottom: -33px;

            [role="button"]{
                width: 10px;
                height: 10px;
                border-radius: 10px;
            }

            li{
                margin-top: 30px;
            }
        }
    }

    //second
    .pright-slider__ava{
        width: 43%;
    }

    .b-slider{

        &.b-slider_type_small{
            .b-slider__i{
                padding-left: 35px;
            }
        }

        &.b-slider_nav_right{
            .b-slider__next{
                right: 0;
            }

            .slick-dots{
                right: 65px;
            }

            .b-slider__prev{
                right: 248px;
            }
        }
    }

    .pright-slider__ava:after{
        height: 490px;
        top: 83px;
    }

    .pright-slider__ava-inner{
        height: 490px;
        top: 83px;
        margin-left: -1%;
    }

    .b-avatar-sm__sub{
        font-size: 14px;
        margin-bottom: 39px;
    }

    .b-avatar-sm__img{
        width: 140px;
        height: 140px;
        border-radius: 140px;
        margin-bottom: 30px;
    }

    .b-avatar-sm__name{
        margin-bottom: 11px;
    }


    .pright-slider__text{
        width: 56.2%;
    }
}

@media screen and (max-width: @break_small) {
    .p-slider__inner,
    .pright-slider__inner{
        max-width: none;
    }

    .p-slider{
        margin-bottom: 122px;
    }

    .p-slider__inner{
        padding-top: 138px;
    }

    .p-slider__ava{
        position: absolute;
        left: 30px;
        right: 0;
        height: 211px;
        float: none;
        width: auto;
        top: -50px;
    }

    .p-slider__ava:after{
        display: none !important;
    }

    .p-slider__ava-inner{
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        margin: 0;
        padding-top: 46px;
        width: auto;
        height: auto;
        padding-left: 165px;
        text-align: left;
    }

    .b-avatar__img{
        position: absolute;
        left: 30px;
        top: 38px;
        width: 120px;
        height: 120px;
        border-radius: 120px;
    }

    .b-avatar__sub{
        margin-bottom: 16px;
    }

    .b-avatar__name{
        margin-bottom: 9px;
    }

    .p-slider__text{
        float: none;
        width: 100%;
    }

    .b-slider__i{
        padding-left: 30px;
        padding-right: 30px;
    }

    .b-slider{
        .b-slider__next{
            right: 30px;
            left: auto;
        }

        .slick-dots{
            left: auto;
            right: 95px;
        }

        .b-slider__prev{
            left: auto;
            right: 278px;
        }
    }

    //second slider
    .pright-slider{
        margin-bottom: 98px;
    }

    .pright__title{
        margin-bottom: 28px;
    }

    .pright-slider__inner{
        background-color: @gray-light;
        position: relative;
        padding-top: 282px;
    }

    .pright-slider__ava:after{
        display: none;
    }

    .pright-slider__text:before{
        display: none;
    }

    .pright-slider__ava{
        position: absolute;
        right: 30px;
        left: 0;
        top: 28px;
        height: 216px;
        width: auto;
    }

    .pright-slider__ava-inner{
        position: absolute;
        width: auto;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        text-align: left;
        height: auto;
        padding-left: 144px;
        padding-top: 57px;
    }

    .b-avatar-sm__img{
        position: absolute;
        left: 26px;
        top: 50px;
        width: 100px;
        height: 100px;
        border-radius: 30px;
    }

    .b-avatar-sm__sub{
        margin-bottom: 14px;
    }

    .pright-slider__text{
        width: auto;
        float: none;
    }

    .b-slider.b-slider_type_small{
        .b-slider__i{
            padding: 0 30px 60px;
        }
    }

    .b-slider.b-slider_nav_right{
        .b-slider__next{
            right: 30px;
            left: auto;
        }

        .slick-dots{
            left: auto;
            right: 95px;
        }

        .b-slider__prev{
            left: auto;
            right: 278px;
        }
    }
}

@media screen and (max-width: @break_phone) {
    .b-avatar__img{
        left: 20px;
        top: 55px;
        width: 100px;
        height: 100px;
    }

    .p-slider__ava-inner{
        padding-left: 138px;
    }

    .b-slider{
        .b-slider__prev{
            right: auto !important;
            left: 0 !important;
        }

        .b-slider__next{
            left: auto !important;
            right: 0 !important;
        }

        .slick-dots{
            right: 65px !important;
            left: 65px !important;
        }
    }
}