
.hidden{
    display: none !important;
}

// First screen
.p-detail-top{
    position: relative;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    &:after{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(0, 0, 0, .54);
    }
}

.p-detail-top__inner{
    position: relative;
    max-width: 1345px;
    margin: 0 auto;
    height: 100%;
}

.p-detail-top__info{
    position: absolute;
    z-index: 2;
    top: 105px;
    left: 0;
    font-size: 16px;
    color: #ffffff;
}

.p-detail-top__text{
    position: relative;
    z-index: 2;
    top: 50%;
    .transform(translate(0, -50%));
    padding-top: 80px;
    color: #ffffff;

    h1{
        margin-top: 0;
        font-size: 100px;
        line-height: 1;
        margin-bottom: 40px;
        font-weight: 800;
        margin-left: -5px;
    }

    span{
        display: block;
        font-size: 22px;
        line-height: 33px;
        max-width: 60%;
    }
}



@media screen and (max-width: @break_larger) {


    .p-detail-top__info{
        font-size: 14px;
        margin-left: 50px;
    }

    .p-detail-top__text{
        margin-left: 50px;

        h1{
            font-size: 70px;
            margin-left: -4px;
        }

        span{
            font-size: 18px;
            line-height: 24px;
        }
    }

    .p-detail-top__inner{
        max-width: 1200px;
    }
}

@media screen and (max-width: @break_big) {

    .p-detail-top__inner{
        max-width: 904px;
    }

    .p-detail-top__info{
        margin-left: 0;
    }

    .p-detail-top__text{
        margin-left: 0;
    }

    .header__logo{
        margin-left: 60px;
    }

    .p-detail-top__text h1{
        margin-bottom: 30px;
    }
}

@media screen and (max-width: @break_middle) {
    .p-detail-top__text{
        h1{
            font-size: 40px;
            margin-bottom: 23px;
            margin-left: -2px;
        }

        span{
            max-width: 74%;
        }
    }

    .p-detail-top__inner{
        max-width: 651px;
    }
}

@media screen and (max-width: @break_small) {
    .p-detail-top__inner{
        max-width: none;
    }

    .p-detail-top__text{
        h1{
            font-size: 40px;
        }

        span{
            max-width: 90%;
        }
    }

    .p-detail-top__info{
        margin-left: 30px;
        margin-right: 30px;
    }

    .p-detail-top__text{
        margin-left: 30px;
        margin-right: 30px;
    }
}

@media screen and (max-width: @break_phone) {
    .p-detail-top{
        height: auto !important;
    }

    .p-detail-top__text{
        .transform(none);
        padding: 180px 0 120px;
        top: 0;

        span{
            max-width: 100%;
        }
    }


}