// Values
.b-values{

}

.p-values__inner{
    max-width: 1440px;
    margin: 0 auto;
    color: #ffffff;
    padding-top: 60px;
    padding-bottom: 75px;
    .clearfix();
    margin-bottom: 157px;
}

.b-values__first{
    float: left;
    padding-top: 25px;
    width: 33.5%;
    font-size: 48px;
    line-height: 62px;
    font-weight: 800;
}

.b-values{
    margin-bottom: 60px;
}

.b-values__content{
    float: left;
    width: 61%;
    padding-top: 23px;

    p{
        display: inline-block;
        vertical-align: top;
        width: 36%;
        font-size: 22px;
        line-height: 30px;
        font-family: @pt;
        position: relative;
        margin-bottom: 60px;

        &:before{
            content: '';
            position: absolute;
            left: -26px;
            top: 9px;
            width: 10px;
            height: 10px;
            opacity: .49;
            background-color: #f6f6f6;
        }

        &:first-child{
            margin-right: 18%;
        }

        &:nth-child(2n+1){
            margin-right: 18%;
        }
    }
}

@media screen and (max-width: @break_larger) {
    .p-values__inner {
        max-width: 1200px;
        margin-bottom: 100px;
    }

    .b-values__first{
        font-size: 34px;
        line-height: 1.3;
    }

    .b-values__content p{
        font-size: 18px;
        line-height: 24px;
    }
}

@media screen and (max-width: @break_big) {
    .p-values__inner{
        max-width: 904px;
        padding-top: 83px;
        padding-bottom: 25px;
    }

    .b-values__first{
        float: none;
        width: 100%;
        padding-top: 0;
        margin-bottom: 44px;

        br{
            display: none !important;
        }
    }

    .b-values__content{
        float: none;
        width: 100%;

        p{
            padding-left: 22px;
            .box-sizing(border-box);

            &:before{
                left: 1px;
                top: 5px;
            }
        }
    }

    .b-values__content{
        p{
            width: 25%;
            margin-right: 10% !important;

            &:nth-child(3n+3){
                margin-right: 0 !important;
            }
        }
    }
}

@media screen and (max-width: @break_middle) {
    .p-values__inner {
        max-width: 649px;
        padding-top: 53px
    }

    .b-values__first{
        margin-bottom: 14px;
    }

    .b-values__content p{
        width: 40%;
        margin-right: 0 !important;
        margin-bottom: 48px;

        &:nth-child(2n + 1){
            margin-right: 17% !important;
        }
    }
}

@media screen and (max-width: @break_small) {
    .p-values{
        margin-bottom: 0;
    }

    .p-values__inner{
        max-width: none;
        padding: 53px 30px 30px;
        margin-bottom: 56px;
    }

    .b-values__first{
        margin-bottom: 19px;
    }

    .b-values__content p{
        float: none;
        width: 100%;
        padding-left: 0;
        margin-right: 0 !important;
        margin-bottom: 18px;

        &:before{
            left: -30px;
            top: -15px;
        }
    }
}