

.f-subs{
    text-align: center;
    color: #ffffff;
}

.f-subs__title{
    font-size: 48px;
    line-height: 1.3;
    font-weight: 800;
    margin-bottom: 44px;
}

.f-subs__i{
    .clearfix();
}

.f-subs__label{
    display: inline-block;
    vertical-align: top;
    font-size: 18px;
    margin: 0 5px;
    padding-top: 14px;
}

.f-subs__select{
    display: inline-block;
    vertical-align: top;
    margin: 0 5px;
    padding-top: 11px;

}

.f-subs__input-con{
    position: relative;
}

.f-subs__input{
    display: inline-block;
    vertical-align: top;
    height: 30px;
    width: 210px;
    .box-sizing(border-box);
    padding: 0;
    font-size: 18px;
    font-family: @open;
    text-align: left;
    border: 2px solid #fff;
    border-width: 0 0 2px 0;
    box-shadow: none !important;
    border-radius: 0 !important;
    -webkit-appearance: none;
    appearance: none;
    background: none !important ;
    margin: 10px 5px 0;
    .transition(all .15s ease);

    &:focus{
        outline: none;
        background: none !important ;
    }
}

.f-subs__input-error{
    position: absolute;
    left: 4px;
    right: 0;
    text-align: left;
    top: 42px;
    font-size: 14px;
    color: #1f212c;
    .transition(all .15s ease);
    opacity: 0;
    visibility: hidden;
}

.f-subs__input::-webkit-input-placeholder {
    color: rgba(255,255,255, .65);
    text-transform: uppercase;

}

.f-subs__input:-moz-placeholder { /* Firefox 18- */
    color: rgba(255,255,255, .65);
    text-transform: uppercase;

}

.f-subs__input::-moz-placeholder {  /* Firefox 19+ */
    color: rgba(255,255,255, .65);
    text-transform: uppercase;

}

.f-subs__input:-ms-input-placeholder {
    color: rgba(255,255,255, .65);
    text-transform: uppercase;

}

.f-subs__submit{
    display: inline-block;
    vertical-align: top;
    width: 300px;
    padding-top: 14px;
    padding-bottom: 13px;
    border: none !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    -webkit-appearance: none;
    appearance: none;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.3;
    text-align: center;
    background: #ffffff !important;
    margin: 0 10px;
    .transition(all .15s ease);
    text-decoration: none !important;

    &:hover{
        opacity: .85;
    }


    &:focus {
        outline: none;
    }
}

.f-subs__select{
    .select2-container{
        width: 210px !important;
    }

    .select2-selection:focus{
        outline: none !important;
    }

    .select2-selection--single{
        background: none !important;
        border: 2px solid #fff !important;
        border-width: 0 0 2px 0 !important;
        border-radius: 0 !important;
        height: 29px;
    }

    .select2-selection__rendered{
        color: #ffffff !important;
        font-size: 18px;
        text-transform: uppercase;
        text-align: left;
        padding-left: 0 !important;
    }

    .select2-selection__arrow{
        top: 3px !important;
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        font-size: 22px;
        color: #ffffff;

        &:before{
            content: "\f107";
        }

        b{
            display: none;
        }
    }
}

.select2-search{
    display: none !important;
}


/* Form subscribe again */
.f-congrat{
    display: none;
}

.f-congrat__text{
    font-size: 19px;
    line-height: 1;
    margin-bottom: 20px;
}

/* == States ==*/

//  .footer-subs
.footer-subs_show_again{
    .f-subs{
        display: none;
    }

    .f-congrat{
        display: block;
    }
}

// for .f-subs
.show_error_email{
    .f-subs__input-error{
        opacity: 1;
        visibility: visible;
    }

    .f-subs__input{
        border-bottom-color: #1f212c !important;
        color: #1f212c !important;
    }
}

@media screen and (max-width: @break_larger) {
    .f-subs__title{
        font-size: 40px;
    }
}


@media screen and (max-width: @break_big) {
    .f-subs__title{
        font-size: 36px;
    }
}

@media screen and (max-width: @break_middle) {
    .f-subs__title{
        font-size: 30px;
        margin-bottom: 25px;
    }

    .f-subs__i-row{
        display: block;
        margin-bottom: 15px;
        margin-left: -27px;
    }

    .f-subs__submit{
        margin-top: 20px;
    }

    .f-subs__label{
        width: 60px;
        text-align: right;
    }

}

@media screen and (max-width: @break_small) {
    .f-subs__title{
        font-size: 24px;
        margin-bottom: 25px;
    }
}