<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no_js lt_ie9 lt_ie8 lt_ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no_js lt_ie9 lt_ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no_js lt_ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no_js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>Popup</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="styles/app.css"/>
    <link rel="stylesheet" type="text/css" href="plugins/slick-carousel/slick.css"/>
    <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />

    <script src="js/vendor/modernizr.js"></script>
</head>
<body >

<div class="p-loading">
    <div class="p-loading__text">
        <i class="fa fa-spinner fa-spin"></i>
    </div>
</div>

{{ body }}


<script src="js/vendor/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
<script type="text/javascript" src="plugins/slick-carousel/slick/slick.js"></script>
<script src="js/main.js"></script>

</body>
</html>