

.btn-simple{
    display: inline-block;
    text-transform: uppercase;
    border: 3px solid;
    padding: 19px 15px 21px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none !important;
    text-align: center;
    .transition(all .15s ease);
    box-shadow: none;
    background: #ffffff;

    &:focus{
        outline: none;
    }
}

.link-simple-white{
    color: #ffffff !important;
    text-decoration: underline;
    .transition(all .15s ease);

    &:hover{
        opacity: .9;
    }
}

.link-simple-red{
    display: inline-block;
    line-height: 1.1;
    text-decoration: none !important;
    color: @red !important;
    border-bottom: 1px solid transparent;
    .transition(all .15s ease);

    &:hover{
        border-color: @red;
    }
}

.link-theme {
    display: inline-block;
    line-height: 1.1;
    text-decoration: none !important;
    border-bottom: 1px solid transparent;
    .transition(all .15s ease);
}

.link-white-theme{
    text-decoration: none !important;
    .transition(all .15s ease);
    color: #ffffff !important;
}

.link-theme-u{
    .transition(all .15s ease);

    &:hover{
        opacity: .8;
    }
}

.link-white{
    display: inline-block;
    color: #ffffff;
    line-height: 1.1;
    text-decoration: none !important;
    border-bottom: 1px solid transparent;
    .transition(all .15s ease);

    &:hover{
        border-bottom-color: #fff;
    }
}

.b-tag{
    display: inline-block;
    font-size: 22px;
    line-height: 24px;
    color: #ffffff;
}