---
layout: default.hbs
---

<div class="theme-red">
<div class="wrap">
    <div class="header">
        <div class="header__inner">
        <div class="header__menu">
            <a class="header__menu-link" href="#">
                For companies
            </a>
            <a class="header__menu-link type-selected" href="#">
                About
            </a>
        </div>
        <a class="header__logo" href="#">Logo</a>
        </div>
    </div>

    <div class="about-grid">
        <div class="grid-bg ">
            <div class="grid-bg__inner">
                <div class="content-main about">

                    <div class="about__top js-full-height">
                        <h1 class="about__title">We’re all about caring organisations.
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content-main about">
        <div class="about__content b-info">
            <div class="b-info-content">
                <div class="b-info-content__inner">
                    <h3 class="b-info__title">
                        We put happy organisations on the spotlight and help them to thrive
                    </h3>
                    <div class="b-info__text">
                        <p>
                            The world will be much better place when organisations start caring about employees, their happiness and engagement. Not just talking about it.
                        </p>
                        <p>
                            We carefully select tech companies which proved to be one of the best workplaces. We research what people are saying about them, we interview and visit them. We take no money from them for being on the list. We want to stay as objective as possible.
                        </p>
                        <p>
                            Know a great <a class="link-theme" href="#">company to recommend?</a> Don’t be shy!
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="footer ">
    <div class="footer__inner">
        <div class="b-company">
            <div class="b-company__title">
                Explore monday companies
            </div>
            <div class="b-company__list">
                <a class="b-company-i" style="background-image: url(img/bg3.png);" href="#">
                    <span class="b-company-i__text">
                        <span class="b-company-i__title">
                            Ministry
                        </span>
                        Humburg
                    </span>
                </a>
                <a class="b-company-i" style="background-image: url(img/bg3.png);" href="#">
                    <span class="b-company-i__text">
                        <span class="b-company-i__title">
                            Futurice
                        </span>
                        Helsinki, Tampere
                    </span>
                </a>
                <a class="b-company-i" style="background-image: url(img/bg3.png);" href="#">
                    <span class="b-company-i__text">
                        <span class="b-company-i__title">
                            Vincit
                        </span>
                        Humburg
                    </span>
                </a>
            </div>

            <div class="b-company__slider js-company-slider">
                <a class="b-company-i" style="background-image: url(img/bg3.png);" href="#">
                    <span class="b-company-i__text">
                        <span class="b-company-i__title">
                            Ministry
                        </span>
                        Humburg
                    </span>
                </a>
                <a class="b-company-i" style="background-image: url(img/bg3.png);" href="#">
                    <span class="b-company-i__text">
                        <span class="b-company-i__title">
                            Futurice
                        </span>
                        Helsinki, Tampere
                    </span>
                </a>
                <a class="b-company-i" style="background-image: url(img/bg3.png);" href="#">
                    <span class="b-company-i__text">
                        <span class="b-company-i__title">
                            Vincit
                        </span>
                        Humburg
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>
</div>