---
layout: default.hbs
---

<div class="theme-red">

<div class="header">
    <div class="header__inner">
    <div class="header__menu">
        <a class="header__menu-link type-selected" href="#">
            For companies
        </a>
        <a class="header__menu-link" href="#">
            About
        </a>
    </div>
    <a class="header__logo" href="#">Logo</a>
    </div>
</div>


<div class="content-main p-company company-grid">
    <div class="grid-bg">
        <div class="grid-bg__inner">
            <div class="company__top js-full-height">
                <h1 class="company__title">Talented people are waiting to know your company.
                </h1>
            </div>
        </div>
    </div>

    <div class="company__content">
        <div class="company__content-inner">
            <div class="company__img"></div>
            <div class="company__form ">
                <div class="company__form-inner">
                    <form action="#" class="b-feedback">
                        <h3 class="b-feedback__title">
                            Let us help you to bring the best talent on board
                        </h3>

                        <div class="b-feedback__text">
                            You are a tech company in Europe? You care about your employees, their happiness and engagement? We are glad to tell the world about you. It is free.
                        </div>

                        <div class="b-feedback__inputs">
                            <div class="b-feedback__subtitle">
                                Fill the form and we’ll contact you
                            </div>

                            <input class="b-feedback__input" type="text" placeholder="Your name"/>
                            <input class="b-feedback__input" type="email" placeholder="Email"/>
                            <input class="b-feedback__input" type="text" placeholder="Company name"/>
                            <input class="b-feedback__input" type="text" placeholder="Company website"/>

                            <button type="submit" class="b-feedback__submit btn-simple">Send contacts</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="footer ">
    <div class="footer__inner">
        <div class="b-company">
            <div class="b-company__title">
                Explore monday companies
            </div>
            <div class="b-company__list">
                <a class="b-company-i" href="#" style="background-image: url(img/bg3.png);">
                    <span class="b-company-i__text">
                        <span class="b-company-i__title">
                            Ministry
                        </span>
                        Humburg
                    </span>
                </a>
                <a class="b-company-i" href="#" style="background-image: url(img/bg3.png);">
                    <span class="b-company-i__text">
                        <span class="b-company-i__title">
                            Futurice
                        </span>
                        Helsinki, Tampere
                    </span>
                </a>
                <a class="b-company-i" href="#" style="background-image: url(img/bg3.png);">
                    <span class="b-company-i__text">
                        <span class="b-company-i__title">
                            Vincit
                        </span>
                        Humburg
                    </span>
                </a>
            </div>

            <div class="b-company__slider js-company-slider">
                <a class="b-company-i" style="background-image: url(img/bg3.png);" href="#">
                    <span class="b-company-i__text">
                        <span class="b-company-i__title">
                            Ministry
                        </span>
                        Humburg
                    </span>
                </a>
                <a class="b-company-i" style="background-image: url(img/bg3.png);" href="#">
                    <span class="b-company-i__text">
                        <span class="b-company-i__title">
                            Futurice
                        </span>
                        Helsinki, Tampere
                    </span>
                </a>
                <a class="b-company-i" style="background-image: url(img/bg3.png);" href="#">
                    <span class="b-company-i__text">
                        <span class="b-company-i__title">
                            Vincit
                        </span>
                        Humburg
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>
</div>