---
layout: default.hbs
---

<div class="theme-green">
    <div class="header inner-page">
        <div class="header__inner">
        <div class="header__menu">
            <a class="header__menu-link" href="#">
                For companies
            </a>
            <a class="header__menu-link type-selected" href="#">
                About
            </a>
        </div>
        <a class="header__logo" href="#">Logo</a>
        </div>
    </div>

    <div class="p-detail-top js-full-height" style="background-image: url(img/bg6.png);">
        <div class="p-detail-top__inner">
            <div class="p-detail-top__info">
                In office in <a class="link-theme" href="#">Helsinki</a> are working about 100 people
            </div>

            <div class="p-detail-top__text">
                <h1>Futurice</h1>
                <span>An international service company working in a sphere of web and mobile development. Its services include but not limited to digital business consulting, service and UX design, digital strategy, and web and mobile app development.
                </span>
            </div>
        </div>
    </div>

    <div class="p-slider">
        <div class="p-slider__inner">
            <div class="p-slider__text ">
                <div class="b-slider">
                    <div class="js-b-slider">
                        <div class="b-slider__i">
                            <h5>
                                I made them agile
                            </h5>
                            <p>
                                I made the decision to get us communications training from a great local trainer. Even though I was convinced he would be good for us, it took me like 8 months to actually make the investment.
                            </p>
                            <p>
                                We are talking about roughly 30000€ in direct expenses and lots of worktime.
                                I was greatly helped by one of our sites doing a single session on their own, using the same pattern, which was very liked.
                                This helped build internal interest and confidence to invest into the larger set. [...]
                            </p>
                            <p>
                                On one level, I think that was a lot of work to make the decision that in my head I had already made a year ago. On the other hand, it was a big investment and it was worth making sure it's what people want.
                            </p>
                        </div>

                        <div class="b-slider__i">
                            <h5>
                                I made them agile 2
                            </h5>
                            <p>
                                I made the decision to get us communications training from a great local trainer. Even though I was convinced he would be good for us, it took me like 8 months to actually make the investment.
                            </p>
                            <p>
                                We are talking about roughly 30000€ in direct expenses and lots of worktime.
                                I was greatly helped by one of our sites doing a single session on their own, using the same pattern, which was very liked.
                                This helped build internal interest and confidence to invest into the larger set. [...]
                            </p>
                            <p>
                                On one level, I think that was a lot of work to make the decision that in my head I had already made a year ago. On the other hand, it was a big investment and it was worth making sure it's what people want.
                            </p>
                        </div>

                        <div class="b-slider__i">
                            <h5>
                                I made them agile 3
                            </h5>
                            <p>
                                I made the decision to get us communications training from a great local trainer. Even though I was convinced he would be good for us, it took me like 8 months to actually make the investment.
                            </p>
                            <p>
                                We are talking about roughly 30000€ in direct expenses and lots of worktime.
                                I was greatly helped by one of our sites doing a single session on their own, using the same pattern, which was very liked.
                                This helped build internal interest and confidence to invest into the larger set. [...]
                            </p>
                            <p>
                                On one level, I think that was a lot of work to make the decision that in my head I had already made a year ago. On the other hand, it was a big investment and it was worth making sure it's what people want.
                            </p>
                        </div>
                    </div>
                    <div class="b-slider__prev first">
                        <i class="fa fa-arrow-left"></i>
                    </div>
                    <div class="b-slider__next first">
                        <i class="fa fa-arrow-right"></i>
                    </div>
                </div>
            </div>
            <div class="p-slider__ava">
                <div class="p-slider__ava-inner b-avatar">
                    <div class="b-avatar__sub">
                        Story from
                    </div>
                    <div class="b-avatar__img" style="background-image: url(img/bg11.png);"></div>
                    <div class="b-avatar__name">
                        Petri Heiramo
                    </div>
                    <div class="b-avatar__text">
                        Agile coach
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="pright__title">
        View from outside
    </div>

    <div class="pright-slider">
        <div class="pright-slider__inner">

            <div class="pright-slider__ava">
                <div class="pright-slider__ava-inner b-avatar-sm">
                    <div class="b-avatar-sm__sub">
                        Story from
                    </div>
                    <div class="b-avatar-sm__img" style="background-image: url(img/bg11.png);"></div>
                    <div class="b-avatar-sm__name">
                        Sergey Kotlov
                    </div>
                    <div class="b-avatar-sm__text">
                       Change Geek
                    </div>
                </div>
            </div>
            <div class="pright-slider__text ">
                <div class="b-slider b-slider_type_small b-slider_nav_right">
                    <div class="js-b-slider2">
                        <div class="b-slider__i">
                            <h5>
                                My first impration about company
                            </h5>
                            <p class="small">
                                I was lucky to take part in FutuFriday. It’s a day reserved for learning, communication and exchange of ideas. That time their CEO Tuomas Syrjänen gave a talk. He shared what he had observed on their internal communication channels, how it reflected his understanding of company values and what he learned from it. He openly talked how his behaviour hadn’t been aligned with their values and how he was going to change it.
                                <br>During that sincere and informal speech one thought kept coming to my mind, Lead by example. When a leader of an organisation communicates this way it motivates everyone to behave in a similar transparent manner. For Futurice words trust and transparency are not something they wrote down, put on a wall and forgot. The company actually lives these values.
                            </p>
                        </div>

                        <div class="b-slider__i">
                            <h5>
                                My first impration about company 2
                            </h5>
                            <p class="small">
                                I was lucky to take part in FutuFriday. It’s a day reserved for learning, communication and exchange of ideas. That time their CEO Tuomas Syrjänen gave a talk. He shared what he had observed on their internal communication channels, how it reflected his understanding of company values and what he learned from it. He openly talked how his behaviour hadn’t been aligned with their values and how he was going to change it.
                                <br>During that sincere and informal speech one thought kept coming to my mind, Lead by example. When a leader of an organisation communicates this way it motivates everyone to behave in a similar transparent manner. For Futurice words trust and transparency are not something they wrote down, put on a wall and forgot. The company actually lives these values.
                            </p>
                        </div>

                        <div class="b-slider__i">
                            <h5>
                                My first impration about company 3
                            </h5>
                            <p>
                                I was lucky to take part in FutuFriday. It’s a day reserved for learning, communication and exchange of ideas. That time their CEO Tuomas Syrjänen gave a talk. He shared what he had observed on their internal communication channels, how it reflected his understanding of company values and what he learned from it. He openly talked how his behaviour hadn’t been aligned with their values and how he was going to change it.
                                <br>During that sincere and informal speech one thought kept coming to my mind, Lead by example. When a leader of an organisation communicates this way it motivates everyone to behave in a similar transparent manner. For Futurice words trust and transparency are not something they wrote down, put on a wall and forgot. The company actually lives these values.
                            </p>
                        </div>
                    </div>
                    <div class="b-slider__prev second">
                        <i class="fa fa-arrow-left"></i>
                    </div>
                    <div class="b-slider__next second">
                        <i class="fa fa-arrow-right"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="p-detail">
        <div class="p-part">
            <h3 class="p-part__title">
                Our initiatives
            </h3>
            <div class="p-part__content">
                <div class="b-initiat">
                    <div class="b-initiat__img" style="background-image: url(img/bg7.png);">
                        <div class="b-initiat__img-content">
                            <div class="b-initiat__img-title">
                                Spice programm
                            </div>

                        </div>
                        <div class="b-initiat__img-text">
                            <div class="b-initiat__img-text-inner">
                            Spice is a company sponsored open source and social impact program. Our&nbsp;goal is to make Futurice a better company and the world a better place.
                            </div>
                            <div class="b-initiat__img-tag">
                                <div class="b-tag">
                                    <i class="fa fa-github-alt"></i> spice
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="b-initiat__text">
                        <div class="b-initiat__text-arrow"></div>
                        <div class="b-initiat__text-inner">
                            Being a company, our motivation, if sincere, is of course not entirely altruistic. We believe that taking the free software movement seriously will help us in recruiting more like-minded people and to keep our own motivated. It could take us towards knowing some of the tools we use more by heart. That would increase efficiency. Hell, we might even get some recognition out of this, if it flies.
                            But most of all, it is the right thing to do and will help us make the world a better place.
                        </div>
                    </div>
                    <div class="b-initiat__author">
                        <div class="b-autor">
                            <div class="b-autor__ava" style="background-image: url(img/bg8.png);"></div>
                            <div class="b-autor__name">
                                Sergey Kotlov
                            </div>
                            <div class="b-author__sub">
                                Change Geek
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="p-part">
            <h3 class="p-part__title">
                Our products
            </h3>
            <div class="p-part__content">
                <div class="b-product">
                    <div class="b-product__con">
                        <div class="b-product__text">
                            <div class="b-product__text-title">
                                Helsinki-Vaanta airport
                            </div>
                            <div class="b-product__text-inner">
                                <p>
                                    As part of a continuous effort to bring top-notch service experience to its customers, Finavia asked Futurice to design and develop a “smooth travelling” iPhone application for use in the Helsinki-Vantaa Airport.
                                </p>
                                <p>With a carefully-crafted, custom-made look, and a strong focus on offering close-at-hand flight information, the first version of the app received an excellent 4.7 star rating from its users.</p>

                                <div class="b-tag">
                                    <i class="fa fa-github-alt"></i> appstore
                                </div>
                            </div>
                        </div>
                        <img src="img/phone.png" class="b-product__img type-phone" />
                    </div>
                    <div class="b-product__comment">
                        <div class="b-comment b-comment_with_arrow">
                            <div class="b-comment__author">
                                <div class="b-comment__ava" style="background-image: url(img/ava1.png);"></div>
                                <div class="b-comment__name">
                                    <span>Tomasz <br/> Polanski</span>
                                    Developer
                                </div>
                            </div>
                            <div class="b-comment__text">
                                Feedback based on the broad-scale, almost real-time analytics, has been helping us to validate our design decisions. For me, this has been a fantastic opportunity to be part of Ilta-Sanomat family, and live the mobile growth together with the readers.
                            </div>
                        </div>
                    </div>
                </div>


                <div class="b-horproduct">
                    <div class="b-horproduct__con">
                        <img src="img/computer.png" class="b-horproduct__img" />

                        <div class="b-horproduct__content">
                            <div class="b-horproduct__title">
                                Caruna
                            </div>
                            <div class="b-horproduct_text">
                                Caruna wanted to establish a modern and responsive web presence that supports Caruna's business by enabling efficient and high quality public information delivery and customer service processes. The new informational web site has an important role in maintaining the Caruna brand image as well as in providing a reliable communication channel to Caruna's customers and other important stakeholders.
                            </div>
                        </div>
                    </div>
                    <div class="b-horproduct__comment">
                        <div class="b-comment">
                            <div class="b-comment__author">
                                <div class="b-comment__ava" style="background-image: url(img/ava1.png);"></div>
                                <div class="b-comment__name">
                                    <span>Tomasz Polanski</span>
                                    Developer
                                </div>
                            </div>
                            <div class="b-comment__text">
                                Feedback based on the broad-scale, almost real-time analytics, has been helping us to validate our design decisions. For me, this has been a fantastic opportunity to be part of Ilta-Sanomat family, and live the mobile growth together with the readers.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </div>

    <div class="b-values">
        <div class="p-values__inner">
            <div class="b-values__first">
                We live <br/>
                by values
            </div>
            <div class="b-values__content">
                <p>
                    At least four people will take care of your professional development and growth.
                </p>
                <p>
                    We compensate (if you want) your participation in open source projects.
                </p>
                <p>
                    You will get a company credit card so you could spend money on anything you find appropriate for clients, company and yourself.
                </p>
                <p>
                    We will be glad to help you with any initiative, from archery classes to a rock concert on a beach.  
                </p>
                <p>
                    You could easily change a project if you find it not aligning with your goals.
                </p>
                <p>
                    We share with you a lot of information about company’s life including financial data.
                </p>
            </div>
        </div>
    </div>

    <div class="p-detail">

        <div class="b-office__title">
            Office <span class="text-office">life</span> in
            <a class="link-theme-u" href="#">
                Helsinki
            </a>
        </div>
        <div class="js-office-slider b-office-slider">
            <div class="b-office-slider__i" style="background-image: url(img/bg_s1.png);"></div>
            <div class="b-office-slider__i" style="background-image: url(img/bg_s2.png);"></div>
            <div class="b-office-slider__i" style="background-image: url(img/bg_s3.png);"></div>
            <div class="b-office-slider__i" style="background-image: url(img/bg_s4.png);"></div>
        </div>

        <div class="b-office">
            <div class="b-office__img">
                <div class="b-office__img-i" style="background-image: url(img/bg_s1.png);"></div>
                <div class="b-office__img-i" style="background-image: url(img/bg_s2.png);"></div>
                <div class="b-office__img-i" style="background-image: url(img/bg_s3.png);"></div>
                <div class="b-office__img-i" style="background-image: url(img/bg_s4.png);"></div>
                <div class="b-office__img-i" style="background-image: url(img/bg_s5.png);"></div>
                <div class="b-office__img-i" style="background-image: url(img/bg_s6.png);"></div>

            </div>
            <div class="b-office__adress">
                <div class="b-office__map">
                    <iframe frameborder="0" style="border:0"
                            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBN2Y7IVh64zK5m_i6JwFMte6PR4-hk1FY
    &q=Space+Needle,Seattle+WA" >
                    </iframe>
                </div>
                <div class="b-office__contact">
                    <h5>
                        Annankatu 34 B, 8th floor 00100
                    </h5>
                    <p>
                        +358 400 885 345 <br/>
                        <a href="mailto:it@futurice.com" class="link-theme">it@futurice.com</a> <br/>
                        <a href="#" target="_blank" class="link-theme">futurice.com</a>
                    </p>

                    <div class="b-social">
                        <a class="b-social__i" href="#">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a class="b-social__i" href="#">
                            <i class="fa fa-linkedin"></i>
                        </a>
                        <a class="b-social__i" href="#">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a class="b-social__i type_gp" href="#">
                            <i class="fa fa-google-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="b-events">

            <div class="b-event type-big b-events__i">
                <div class="b-event__title">
                    Upcomming events
                </div>
                <div class="b-event__text">
                    Digital revolution is about being social.
                    Jump in.
                </div>
            </div>
            <a href="#" class="b-event type-dark b-events__i">
                <div class="b-event__content">
                    <div class="b-event__title">
                        Open Futurice-excursion
                    </div>
                    <div class="b-event__text">
                        An open excursion for all Aalto-students.
                    </div>
                </div>

                <div class="b-event__date">
                    NOVEMBER 26
                </div>
            </a>
            <a href="#" class="b-event type-gray b-events__i">
                <div class="b-event__content">
                    <div class="b-event__title">
                        Wearable Wednesday: "Smart Cities"
                    </div>
                    <div class="b-event__text">
                        Let's discuss smart cities and the new modes of participation it offers its citizens.
                    </div>
                </div>

                <div class="b-event__date">
                    DECEMBER 05
                </div>
            </a>
            <a href="#" class="b-event type-gray b-events__i">
                <div class="b-event__content">
                    <div class="b-event__title">
                        Beacon summit
                    </div>
                    <div class="b-event__text">
                        Let the beacons light your way. This is a great opportunity to meet some of the fine folk.
                    </div>
                </div>

                <div class="b-event__date">
                    JANUARY 15
                </div>
            </a>
            <a href="#" class="b-event type-dark b-events__i">
                <div class="b-event__content">
                    <div class="b-event__title">
                        UX Camp Europe
                    </div>
                    <div class="b-event__text">
                        Showcasing our own open-source IoT Service Kit, and proudly supporting the event with it's first ever mobile app.
                    </div>
                </div>

                <div class="b-event__date">
                    MURCH 17
                </div>
            </a>
            <a href="#" class="b-event  b-events__i">
                <div class="b-event__content">
                    <div class="b-event__title">
                        Open Futurice-excursion
                    </div>
                    <div class="b-event__text">
                        An open excursion for all Aalto-students.
                    </div>
                </div>

                <div class="b-event__date">
                    MURCH 17
                </div>
            </a>
            <a href="#" class="b-event type-dark b-events__i">
                <div class="b-event__content">
                    <div class="b-event__title">
                        Wearable Wednesday: "Smart Cities"
                    </div>
                    <div class="b-event__text">
                        Let's discuss smart cities and the new modes of participation it offers its citizens.
                    </div>
                </div>

                <div class="b-event__date">
                    DECEMBER 05
                </div>
            </a>
        </div>

        <div class="b-prof">
            <h3 class="b-prof__title">
                Looking for professionals
            </h3>
            <div class="b-prof__content">
                <div class="b-prof__first b-hiring">
                        <div class="b-hiring__img" style="background-image: url(img/bg9.png);"></div>
                        <div class="b-hiring__content">
                            <h3>
                                Futurice is hiring
                            </h3>
                            <p>
                                developers, qa, frontend, analytics...
                            </p>
                            <p>
                                Haven't found the role you like? Tell us about you. We're always looking for awesome people.
                            </p>

                            <div class="b-hiring__contact">
                                <a class="link-white" href="mailto:laura.elkin@futurice.com">laura.elkin@futurice.com</a>
                                <a class="link-white" href="#" target="_blank">http://futurice.com/careers </a>
                            </div>
                        </div>
                </div>
                <div class="b-prof__sec">
                    <div class="b-tweet" style="background-image: url(img/bg10.png);">
                        <div class="b-tweet__text">
                            Enjoying the friday and sun with the @futurice team.
                            <a class="link-white-theme" href="#">#workingatfuturice</a>
                        </div>
                        <div class="b-tweet__footer">
                            <div class="b-tweet__tags">
                                <a href="#" class="b-tag">
                                    <i class="fa fa-retweet"></i> retweet
                                </a>
                                <a href="#" class="b-tag">
                                    <i class="fa fa-star"></i> favorite
                                </a>
                            </div>
                            <div class="b-tweet__icon"><i class="fa fa-twitter"></i></div>
                        </div>
                    </div>

                    <div class="b-tweet no-bottom" style="background-image: url(img/bg10.png);">
                        <div class="b-tweet__text">
                            You too could be <a class="link-white-theme" href="#">#workingatfuturice</a> as a mobile developer in London.
                            Apply here: <a class="link-white-theme" href="#">http://futurice.com/open-positions/mdl-ad … #hiring</a>
                        </div>
                        <div class="b-tweet__footer">
                            <div class="b-tweet__tags">
                                <a href="#" class="b-tag">
                                    <i class="fa fa-retweet"></i> retweet
                                </a>
                                <a href="#" class="b-tag">
                                    <i class="fa fa-star"></i> favorite
                                </a>
                            </div>
                            <div class="b-tweet__icon"><i class="fa fa-twitter"></i></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


        <div class="b-share">
            <div class="b-share__title">
                Tell about us to friends and collegues
            </div>
            <div class="b-share__list">
                <a class="share-link" href="#">
                    <i class="fa fa-linkedin-square"></i>
                </a>
                <a class="share-link" href="#">
                    <i class="fa fa-facebook-square"></i>
                </a>
                <a class="share-link" href="#">
                    <i class="fa fa-twitter-square"></i>
                </a>
                <a class="share-link" href="#">
                    <i class="fa fa-google-plus-square"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="footer ">
        <div class="footer__inner">
            <div class="b-company">
                <div class="b-company__title">
                    More monday companies
                </div>
                <div class="b-company__list">
                    <a class="b-company-i" style="background-image: url(img/bg3.png);" href="#">
                    <span class="b-company-i__text">
                        <span class="b-company-i__title">
                            Ministry
                        </span>
                        Humburg
                    </span>
                    </a>
                    <a class="b-company-i" style="background-image: url(img/bg3.png);" href="#">
                    <span class="b-company-i__text">
                        <span class="b-company-i__title">
                            Futurice
                        </span>
                        Helsinki, Tampere
                    </span>
                    </a>
                </div>
            </div>

            <div class="b-company__slider js-company-slider">
                <a class="b-company-i" style="background-image: url(img/bg3.png);" href="#">
                    <span class="b-company-i__text">
                        <span class="b-company-i__title">
                            Ministry
                        </span>
                        Humburg
                    </span>
                </a>
                <a class="b-company-i" style="background-image: url(img/bg3.png);" href="#">
                    <span class="b-company-i__text">
                        <span class="b-company-i__title">
                            Futurice
                        </span>
                        Helsinki, Tampere
                    </span>
                </a>
                <a class="b-company-i" style="background-image: url(img/bg3.png);" href="#">
                    <span class="b-company-i__text">
                        <span class="b-company-i__title">
                            Vincit
                        </span>
                        Humburg
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>


