---
layout: default.hbs
---

<div class="theme-red">
    <div class="header">
        <div class="header__inner">
        <div class="header__menu">
            <a class="header__menu-link type-selected" href="#">
                For companies
            </a>
            <a class="header__menu-link" href="#">
                About
            </a>
        </div>
        <a class="header__logo" href="#">Logo</a>
        </div>
    </div>

    <div class="main-grid">
        <div class="grid-bg">
            <div class="grid-bg__inner">
                <div class="content-main pmain">
                    <div class="pmain__top js-full-height">
                        <div class="pmain__inner">
                            <div class="pmain__top-content">
                                <h1 class="pmain__top-title">Find your space
                                </h1>

                                <div class="pmain__top-text">
                                    Here you’ll find stories about 4 diffrent companies. All of them somehow unique and all of them looking for people to work with.
                                    Find company that suits you and connect with them and tomorrow you’ll work in amazing place with amazing people ;)
                                </div>
                            </div>
                            <div class="pmain__top-menu b-menu">
                                <div class="b-menu__title">
                                    SEARCH COMPANY:
                                </div>
                                <div class="b-menu__list">
                                    <a class="b-menu__link" href="#">
                                        Worldwide
                                    </a>

                                    <div class="b-submenu">
                                        <a class="b-menu__link" href="#">
                                            Finland
                                        </a>
                                        <a class="b-menu__sublink type-selected" href="#">
                                            Helsinki
                                        </a>
                                        <a class="b-menu__sublink" href="#">
                                            Tampere
                                        </a>
                                    </div>
                                    <div class="b-submenu">
                                        <a class="b-menu__link" href="#">
                                            Germany
                                        </a>
                                        <a class="b-menu__sublink" href="#">
                                            Humburg
                                        </a>
                                    </div>
                                </div>
                                <div>
                                    <a class="b-menu__btn btn-simple" href="#">browser 2</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content-main pmain">
        <div class="pmain__content">
            <div class="comp-detail">
                <div class="comp-detail__inner">
                    <a href="#" class="comp-detail__img" style="background-image: url(img/bg4.png);">
                        <div class="comp-detail__img-text">
                            Vincit
                        </div>
                    </a>
                    <div class="comp-detail__cont">
                        <div class="comp-detail__cont-inner">
                            <div class="comp-detail__cont-sub">
                                Vincit story
                            </div>
                            <h3 class="comp-detail__cont-title">
                                About role
                            </h3>
                            <div class="comp-detail__cont-text">
                                One month ago we had a person who needed to be introduced to the end customer. It was a German company.
                                <br>I was working on this project with Kyösti, who is one of our employees. And I was puzzled, “How am I going to introduce him to the customer?”. I had been working for some time in Nokia and I thought, “Ok, the toughest guys in Nokia are called principal architects”. So I introduced Kyösti to the customer as a principal architect. And the German employee said that he was executive architect.
                                <br>Next time Kyösti will be an executive architect.
                            </div>
                            <div class="comp-detail__cont-info ">
                                <table class="b-location" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td class="b-location__title">
                                            Location
                                        </td>
                                        <td>
                                            Helsinki, Tempere
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="b-location__title">
                                            Size
                                        </td>
                                        <td>
                                            Around 150 people
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="b-location__title">
                                            Industry
                                        </td>
                                        <td>
                                            Pusle Games
                                        </td>
                                    </tr>
                                </table>

                            </div>
                            <a class="comp-detail__cont-btn btn-simple" href="#">Visit Vincit</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="comp-detail">
                <div class="comp-detail__inner">
                    <a href="#" class="comp-detail__img" style="background-image: url(img/bg4.png);">
                        <div class="comp-detail__img-text">
                            Futurice
                        </div>
                    </a>
                    <div class="comp-detail__cont">
                        <div class="comp-detail__cont-inner">
                            <div class="comp-detail__cont-sub">
                                Futurice story
                            </div>
                            <h3 class="comp-detail__cont-title">
                                I made them agile
                            </h3>
                            <div class="comp-detail__cont-text">
                                I made the decision to get us communications training from a great local trainer. Even though I was convinced he would be good for us, it took me like 8 months to actually make the investment. We are talking about roughly 30000€ in direct expenses and lots of worktime.
                                <br>I was greatly helped by one of our sites doing a single session on their own, using the same pattern, which was very liked. This helped build internal interest and confidence to invest into the larger set. [...]
                                <br>On one level, I think that was a lot of work to make the decision that in my head I had already made a year ago. On the other hand, it was a big investment and it was worth making sure it's what people want.
                            </div>
                            <div class="comp-detail__cont-info ">
                                <table class="b-location" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td class="b-location__title">
                                            Location
                                        </td>
                                        <td>
                                            Helsinki, Tempere
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="b-location__title">
                                            Size
                                        </td>
                                        <td>
                                            Around 150 people
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="b-location__title">
                                            Industry
                                        </td>
                                        <td>
                                            Pusle Games
                                        </td>
                                    </tr>
                                </table>

                            </div>
                            <a class="comp-detail__cont-btn btn-simple" href="#">Visit FUTURICE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="footer footer_type_main">
    <div class="footer__inner">
        <div class="b-footer">
            <div class="b-footer__title">
                That’s all <br/>
                we’ve got <br/>
                <span class="hide-text">in Helsinki</span>
            </div>

            <div class="b-footer__text">
                <p>
                    You can browse different locations close to Helsinki, like
                    <a class="link-simple-white" href="#">Tampere</a>,
                    <a class="link-simple-white" href="#">Finland</a>
                </p>
                <p>
                    Also you may find dreamwork in
                    <a class="link-simple-white" href="#">Germany</a> or
                    <a class="link-simple-white" href="#">Worldwide</a>
                </p>
            </div>

            <div class="b-footer__additional">
                If you know amaizing company to work with—<a class="link-simple-white" href="mailto:slawas@yandex.ru">email</a> us and you’ll help good people find their place
            </div>
        </div>
    </div>
</div>
</div>