---
layout: default.hbs
---


<div class="theme-red psubs-grid">

    <div class="grid-bg">
        <div class="grid-bg__inner">

            <div class="psubs">
                <div class="psubs__content">
                    <div class="psubs__content-top">
                        <div class="psubs__sharing">
                            <a class="psubs__sharing-i fa fa-linkedin-square" href="#"></a>
                            <a class="psubs__sharing-i fa fa-facebook-square" href="#"></a>
                            <a class="psubs__sharing-i fa fa-twitter-square" href="#"></a>
                            <a class="psubs__sharing-i fa fa-google-plus-square" href="#"></a>
                        </div>

                        <a class="psubs__logo" href="#">
                            Yay for <span>Monday</span>
                        </a>
                    </div>

                    <h1 class="psubs__title">
                        Where do people say
                        “YAY&nbsp;it’s monday”?
                    </h1>

                    <div class="psubs__text">
                        There are
                        <b>tech companies</b> out there where people are given the freedom to work on the products they love and feel completely engaged, even on a
                        <b>Monday</b>!  
                        <br/>
                        <b>Fun</b> and
                        <b>care</b> are not just empty words. Dreams are in reach of every employee and they inspire others to achieve the same. One of these companies may be in the
                        <b>next street to you</b>. They might even be <b>looking</b> for a person just like you.
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-subs">
        <div class="footer-subs__inner">
            <form method="post" target="_blank" class="f-subs" action="//yay4monday.us10.list-manage.com/subscribe/post?u=0f63f0ea0e1bcc681a927f507&amp;id=0aa4dbfa4a">
                <div class="f-subs__title">
                    Subscribe to find out about companies
                </div>

                <div class="f-subs__i">
                    <span class="f-subs__i-row">
                        <label class="f-subs__label" for="select-country">From</label>
                        <div class="f-subs__select">
                            <select class="js-select-country" name="" id="select-country">
                                <option value="1">All over the world</option>
                                <option value="1">England</option>
                            </select>
                            <input type="text" value="" name="MMERGE1" class="js-input-country " style="position: absolute; left: -5000px;">

                        </div>
                    </span>
                    <span class="f-subs__i-row">
                        <label class="f-subs__label" for="subs-email">by</label>
                        <span class="f-subs__input-con">
                            <input name="EMAIL" type="email" class="f-subs__input js-check-email" id="subs-email" placeholder="Email"/>
                            <span class="f-subs__input-error js-input-error">
                                Email is incorrect
                            </span>
                        </span>
                    </span>

                    <input type="submit" class="f-subs__submit js-submit-subs" value="Subscribe" name="subscribe" />

                    <div id="mce-responses" class="clear">
                        <div class="response" id="mce-error-response" style="display:none"></div>
                        <div class="response" id="mce-success-response" style="display:none"></div>
                    </div>
                    <div style="position: absolute; left: -5000px;"><input type="text" name="b_0f63f0ea0e1bcc681a927f507_0aa4dbfa4a" tabindex="-1" value=""></div>

                </div>
            </form>

            <div class="f-congrat">
                <div class="f-subs__title">
                    Subscribe to find out about companies
                </div>
                <div class="f-congrat__text">
                    If something went wrong
                </div>
                <a class="f-subs__submit js-subscribe-again" href="#">
                    Subscribe again
                </a>
            </div>

        </div>
    </div>
</div>