

// About page

.about{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 30px;
}

.about-grid{
    .grid-bg,
    .grid-bg__inner{
        -webkit-background-size: 201px 276px;
        background-size: 201px 276px;
    }
}


.about__title{
    position: relative;
    top: 50%;
    .transform(translate(0, -50%));
    margin: 0 30px;
    font-size: 90px;
    line-height: 1.26;
    color: @black;
    font-weight: 800;
    text-align: left;
}

.about__content{
    margin-top: -100px;
    margin-bottom: 110px;
}

.b-info{
    background-color: @grey;
}

.b-info-content{
    padding: 0 40px;
    max-width: 820px;
    margin: 0 auto;
}

.b-info-content__inner{
    padding-top: 130px;
    padding-bottom: 113px;
    position: relative;

    &:before{
        content: '';
        position: absolute;
        height: 6px;
        right: 0;
        left: 0;
        top: -3px;
        z-index: 2;
    }
}

.b-info__title{
    font-size: 33px;
    font-weight: 800;
    margin-bottom: 38px;
    line-height: 45px;
}

.b-info__text{
    font-size: 22px;
    line-height: 1.5;

    p{
        margin-bottom: 33px;
    }
}

@media screen and (max-width: @break_large) {
    .about{
        max-width: 1200px;
    }

    .about__title {
        font-size: 70px;
        line-height: 90px;
    }
}

@media screen and (max-width: @break_big) {
    .about{
        max-width: 804px;
    }

    .about__title{
        margin: 0;

        br{
            display: none !important;
        }
    }

    .about__content{
        margin-bottom: 90px;
    }

    .b-info-content{
        padding: 0 11%;
    }

    .b-info-content__inner{
        padding-top: 69px;
        padding-bottom: 108px;
    }

    .b-info__title{
        margin-bottom: 39px;
    }

    .b-info__text p{
        margin-bottom: 33px;
    }
}

@media screen and (max-width: @break_middle) {
    .about-grid{
        .grid-bg,
        .grid-bg__inner{
            -webkit-background-size: 201px 210px;
            background-size: 201px 210px;
        }
    }

    .about{
        max-width: 768px;
        padding: 0;
    }

    .about__top{
        height: auto !important;
    }

    .about__title{
        .transform(none);
        top: 0;
        padding-top: 201px;
        padding-bottom: 276px;
        margin-left: 60px;
        font-size: 55px;
        line-height: 65px;
    }

    .about__content{
        margin-bottom: 53px;
    }

    .b-info-content{
        padding: 0 6.3%;
    }

    .b-info-content__inner{
        padding-top: 67px;
    }

    .b-info__title{
        margin-bottom: 39px;
    }

    .b-info__text p{
        margin-bottom: 33px;
    }
}

@media screen and (max-width: @break_small) {
    .about-grid{
        .grid-bg,
        .grid-bg__inner{
            -webkit-background-size: 201px 179px;
            background-size: 201px 179px;
        }
    }

    .about{
        max-width: none;
    }

    .about__title{
        margin: 0 30px 0 24px;
        font-size: 48px;
        line-height: 55px;
        padding-top: 162px;
        padding-bottom: 250px;
    }

    .b-info-content__inner{
        padding-top: 48px;
        padding-bottom: 17px;
    }

    .b-info__title{
        font-size: 24px;
        margin-bottom: 26px;
        line-height: 33px;
        margin-right: -4%;
    }

    .b-info__text p{
        margin-bottom: 33px;
    }
}

@media screen and (max-width: @break_phone) {
    .about__title{
        font-size: 30px;
        line-height: 36px;
    }
}