
/* Colors */

.grid-bg{
    background: linear-gradient(#eaeaea, #eaeaea 0.5px ,  transparent 2px);
    border-bottom: 1px solid #eaeaea;
}

.grid-bg__inner{
    background: linear-gradient(90deg, #eaeaea, #eaeaea 0.5px,  transparent 2px);
}

.grid-bg,
.grid-bg__inner{
    background-repeat: repeat;
    background-position: 50% 50%;
}

body{
    background-color: #ffffff;
    font-size: 14px;
    line-height: 1.3;
    color: #000000;
    font-family: @open;
}

.p-loading{
    position: fixed;
    background-color: #ffffff;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
    z-index: 1000;
    .transition(all .15s ease);

    &.p-loading_state_hide{
        opacity: 0;
        visibility: hidden;
    }
}

.p-loading__text{
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 30px;
}

.wrap,
.footer__inner{
    margin: 0 auto;
}

// Header of inner page
.header{
    position: fixed;
    width: 1440px;
    left: 50%;
    margin-left: -720px;
    height: 80px;
    background-color: #111111;
    .clearfix();
    z-index: 100;
}

.header__menu{
    float: right;
    margin-right: 37px;
}

.header__menu-link{
    display: block;
    padding: 0 15px;
    float: right;
    height: 80px;
    font-size: 22px;
    color: #ffffff;
    text-decoration: none !important;
    line-height: 80px;
    .transition(all .15s ease);
    margin-left: 37px;

}

.header__logo{
    margin-left: 50px;
    color: #ffffff !important;
    text-decoration: none !important;
    font-size: 24px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 80px;
}

@media screen and (max-width: @break_larger) {
    .header.inner-page{
        width: 1200px;
        margin-left: -600px;
    }
}

@media screen and (max-width: @break_large) {
    .header,
    .header.inner-page{
        width: 1200px;
        margin-left: -600px;
    }
}

@media screen and (max-width: @break_big) {
    .header,
    .header.inner-page{
        width: 1024px;
        margin-left: -512px;
    }

    .header__menu{
        margin-right: 48px;
    }

    .header__menu-link{
        font-size: 18px;
        margin-left: 16px;
    }
}

@media screen and (max-width: @break_middle) {
    .header,
    .header.inner-page{
        margin-left: 0;
        width: auto;
        left: 0;
        right: 0;
    }

    .header__inner{
        max-width: 768px;
        margin: 0 auto;
    }

    .header__menu{
        margin-right: 32px;
    }
}

@media screen and (max-width: @break_small) {
    .header,
    .header.inner-page{
        position: relative;
        margin-left: 0;
        max-width: none;
        margin-bottom: -80px;
        width: auto;
        left: 0;
    }

    .header__menu{
        margin-right: 0;
    }

    .header__menu-link{
        margin-left: 0;
    }

    .header__logo{
        margin-left: 30px !important;
    }
}

@media screen and (max-width: @break_phone) {
    .header__menu-link {
        font-size: 16px;
        padding: 0 10px;
    }

    .header__logo{
        font-size: 20px;
    }
}

// Footer of inner page
.footer{
    background-color: @grey;
}

.footer_type_main{
    color: #ffffff;

    .footer__inner{
        max-width: 1530px;
    }
}

.footer__inner{
    max-width: 1640px;
}

// Company list
.b-company{
    padding-top: 125px;
    padding-bottom: 151px;
}

.b-company__title{
    font-size: 48px;
    line-height: 1;
    font-weight: 800;
    text-align: center;
    margin-bottom: 116px;
}

.b-company__list{
    max-width: 1440px;
    margin: 0 auto;
    .clearfix();
}

.b-company__slider{
    display: none !important;

    .slick-slide{
        min-height: 225px;
    }
}

.b-company-i{
    display: block;
    position: relative;
    float: left;
    width: 48.7%;
    height: 330px;
    text-decoration: none !important;
    color: #ffffff !important;
    margin-bottom: 40px;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;

    &:nth-child(odd){
        margin-right: 2.6%;
    }
    
    &:after{
        content: '';
        display: block;
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        z-index: 3;
        opacity: 0.2;
        background: #000000;
        .transition(all .15s ease);
    }

    &:hover:after{
        opacity: .64;
    }
}

.b-company-i__text{
    position: absolute;
    display: block;
    left: 50px;
    bottom: 60px;
    font-size: 22px;
    line-height: 1;
    z-index: 5;
}

.b-company-i__title{
    display: block;
    margin-bottom: 20px;
    font-size: 33px;
    font-weight: 800;
    line-height: 1;
}

@media screen and (max-width: @break_large) {
    .b-company{
        padding-bottom: 80px;
        padding-top: 80px;
    }

    .b-company__list{
        max-width: 1200px;
    }

    .b-company__title{
        font-size: 48px;
        margin-bottom: 87px;
    }

    .b-company-i__text {
        left: 33px;
        bottom: 44px;
        font-size: 18px;
    }

    .b-company-i__title {
        font-size: 24px;
        margin-bottom: 18px;
    }
}

@media screen and (max-width: @break_big) {
    .b-company{
        padding-bottom: 50px;
    }

    .b-company__list{
        max-width: 904px;
    }

    .b-company__title{
        margin-bottom: 87px;
    }

    .b-company-i{
        width: 48.2%;
        height: 260px;
        margin-bottom: 30px;

        &:nth-child(odd){
            margin-right: 3.6%;
        }
    }

}

@media screen and (max-width: @break_middle) {
    .b-company{
        padding-top: 82px;
    }

    .b-company__title{
        font-size: 33px;
        margin-bottom: 45px;
    }

    .b-company__list{
        max-width: 650px;
    }

    .b-company-i{
        height: 225px;
        margin-bottom: 9px;
        width: 49.2%;

        &:nth-child(odd){
            margin-right: 1.6%;
        }
    }

    .b-company-i__text{
        left: 21px;
        bottom: 49px;
    }

    .b-company-i__title{
        margin-bottom: 9px;
    }
}

@media screen and (max-width: @break_small) {
    .b-company{
        padding-top: 41px;
    }

    .b-company__title{
        font-size: 24px;
        margin-bottom: 17px;
    }

    .b-company__list{
        display: none;
    }

    .b-company__slider{
        display: block !important;
        height: 225px;
        margin-left: 23px;
    }

    .b-company-i{
        float: none;
        width: 340px;
        height: 225px;
        margin-right: 30px !important;
    }

    .b-company-i__text{
        left: 21px;
        bottom: 49px;
    }

    .b-company-i__title{
        margin-bottom: 9px;
    }
}

@media screen and (max-width: @break_phone) {
    .b-company__title{
        font-size: 19px;
    }

    .b-company-i{
        width: 280px;
        margin-right: 20px;
    }
}


