

.company__top{
    max-width: 1440px;
    margin: 0 auto;
}

.company-grid{
    .grid-bg,
    .grid-bg__inner{
        -webkit-background-size: 408px, 338px;
        background-size: 408px, 338px;
    }
}

.company__title{
    position: relative;
    top: 50%;
    .transform(translate(0, -50%));
    padding-left: 50px;
    font-size: 90px;
    line-height: 1.26;
    color: @black;
    font-weight: 800;
    text-align: left;
}

.company__content{
    position: relative;
    margin-bottom: 123px;

    &:before,
    &:after{
        content: '';
        position: absolute;
        background-color: @grey;
        z-index: 1;
    }

    &:after{
        top: -100px;
        height: 94.4%;
        left: 50%;
        right: 0;
    }

    &:before{
        left: 0;
        right: 50%;
        top: 0;
        bottom: 0;
    }
}

.company__content-inner{
    position: relative;
    z-index: 2;
    max-width: 1640px;
    margin: 0 auto;
    height: 980px;
    .clearfix();
}

.company__img{
    float: left;
    width: 56.5%;
    height: 100%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url(../img/bg5.png);
}

.company__form{
    float: left;
    width: 43.5%;
    height: 94.5%;
    position: relative;
    top: -100px;
    left: -10.6%;
    z-index: 3;
    background-color: @grey;
}

// Feedback form
.b-feedback{
    padding: 99px 50px 0 100px;
    color: @black;
}

.b-feedback__title{
    font-size: 33px;
    line-height: 44px;
    font-weight: 800;
    margin-bottom: 17px;
}

.b-feedback__text{
    font-size: 22px;
    line-height: 31px;
    margin-bottom: 57px;
}

.b-feedback__inputs{
    margin-left: -100px;
    padding-left: 100px;
    position: relative;
    width: 420px;

    &:before{
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        width: 6px;
        background-color: @red;
        left: -3px;
    }
}

.b-feedback__subtitle{
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 20px;
    white-space: nowrap;
}

.b-feedback__input{
    display: block;
    width: 100%;
    .box-sizing(border-box);
    height: 48px;
    border: 2px solid @grey-dark;
    border-width: 0 0 2px 0;
    font-size: 22px;
    color: @black;
    font-family: @open;
    box-shadow: none !important;
    border-radius: 0 !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    margin-bottom: 10px;

    &:focus{
        border-color: @red;
        outline: none !important;
    }
}

.b-feedback__submit{
    margin-top: 43px;
    width: 100%;
    font-size: 18px;
    .box-sizing(border-box);
}

.b-feedback__input::-webkit-input-placeholder {
    font-size: 22px;
    font-family: @open;
}

.b-feedback__input:-moz-placeholder {
    font-size: 22px;
    font-family: @open;
    color: @grey;
}


@media screen and (max-width: @break_large) {
    .company__content-inner,
    .company__top{
        max-width: 1200px;
    }

    .company__title{
        font-size: 70px;
        line-height: 90px;
        max-width: 80%;

        br{
            display: none !important;
        }
    }

    .company__form,
    .company__content:after{
        height: 100%;
    }

    .b-feedback{
        padding-top: 60px;
    }

    .b-feedback__title{
        font-size: 33px;
        line-height: 44px;
        margin-bottom: 20px;
    }

    .b-feedback__text{
        line-height: 30px;
        margin-bottom: 28px;
    }
}

@media screen and (max-width: @break_big) {
    .company-grid{
        .grid-bg,
        .grid-bg__inner{
            -webkit-background-size: 255px 325px;
            background-size: 255px 325px;
        }
    }

    .company__top{
        max-width: 904px;
    }

    .company__content-inner{
        max-width: 1024px;
    }

    .company__title{
        max-width: 95%;
        margin: 0;
    }

    .company__content{
        margin-bottom: 109px;
    }

    .company__img{
        width: 50%;
    }

    .company__form{
        width: 50%;
        left: -13.6%;
    }

    .b-feedback{
        padding: 100px 0 0 97px;
    }

    .b-feedback__inputs{
        margin-left: -97px;
        padding-left: 97px;
    }


}

@media screen and (max-width: @break_middle) {
    .company-grid{
        .grid-bg,
        .grid-bg__inner{
            -webkit-background-size: 205px 250px;
            background-size: 205px 250px;
        }
    }

    .company__content-inner{
        max-width: 768px;
        height: 880px;
        padding: 0;
    }

    .company__top{
        height: auto !important;
        max-width: 768px;
    }

    .company__title{
        .transform(none);
        top: 0;
        padding-top: 169px;
        padding-bottom: 214px;
        padding-left: 60px;
        font-size: 55px;
        line-height: 65px;
    }

    .company__img{
        width: 535px;
        margin-right: -416px;
    }

    .company__form{
        left: 0;
        width: 540px;
    }

    .b-feedback__title{
        margin-bottom: 17px;
    }
}

@media screen and (max-width: @break_small) {
    .company-grid{
        .grid-bg,
        .grid-bg__inner{
            -webkit-background-size: 201px 252px;
            background-size: 201px 252px;
            background-position: 50% bottom;
        }
    }

    .company__content-inner{
        max-width: none;
    }

    .company__content{
        margin-bottom: 53px;
    }

    .company__title{
        font-size: 48px !important;
        line-height: 55px !important;
        padding: 120px 30px 83px 30px;
    }

    .company__content-inner{
        max-width: none;
        height: auto;
    }

    .company__content:after{
        display: none;
    }

    .company__img{
        display: none;
    }

    .company__form{
        width: auto;
        height: auto;
        float: none;
        top: 0;
        left: auto;
    }

    .b-feedback{
        padding: 38px 30px 74px;
    }

    .b-feedback__title{
        font-size: 24px;
        line-height: 33px;
        margin-bottom: 30px;
    }

    .b-feedback__text{
        font-size: 22px;
        line-height: 30px;
        margin-bottom: 61px;
    }

    .b-feedback__subtitle{
        font-size: 24px;
        line-height: 33px;
        white-space: normal;
        margin-bottom: 6px;
    }

    .b-feedback__inputs{
        padding-left: 0;
        margin-left: 0;
        width: auto;

        &:before{
            display: none;
        }
    }

    .b-feedback__submit{
        margin-top: 25px;
    }
}

@media screen and (max-width: @break_phone) {
    .company__title{
        font-size: 30px;
        line-height: 36px;
    }
}