

.pmain{

}

.main-grid{
    .grid-bg,
    .grid-bg__inner{
        -webkit-background-size: 300px 360px;
        background-size: 300px 360px;
    }
}

// first screen
.pmain__top{
    max-width: 1640px;
    margin: 0 auto;
}

.pmain__inner{
    position: relative;
    top: 50%;
    .transform(translate(0, -50%));
    max-width: 1400px;
    margin: 0 auto;
    .clearfix();
}

.pmain__top-content {
    float: left;
    width: 79.2%;
    .box-sizing(border-box);
    color: @black;
    padding-left: 30px;
}

.pmain__top-title{
    font-size: 90px;
    line-height: 1;
    font-weight: 800;
    margin-bottom: 61px;
    margin-left: -5px;
}

.pmain__top-text{
    padding-right: 36%;
    font-size: 22px;
    line-height: 33px;
}

.pmain__top-menu{
    width: 16.8%;
    padding-top: 65px;
    overflow: hidden;
}


//Menu on the main page
.b-menu{

}

.b-menu__title{
    font-size: 18px;
    margin-bottom: 16px;
    font-weight: 800;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.b-menu__link,
.b-menu__sublink{
    display: block;
    color: #4a4a4a;
    text-decoration: none !important;
    .transition(all .15s ease);

    &.type-selected{
        font-weight: 800;
    }
}

.b-submenu{
    margin-bottom: 11px;
}

.b-submenu .b-menu__link{
    margin-bottom: 3px;
}

.b-menu__link{
    text-transform: uppercase;
    margin-bottom: 8px;
}

.b-menu__sublink{
    margin-bottom: 5px;
}

.b-menu__btn{
    margin-top: 16px;
    width: 100%;
    .box-sizing(border-box);
    padding-top: 16px;
    font-weight: bold;
    padding-bottom: 19px;
}

// company list
.comp-detail{
    height: 800px;
    position: relative;

    &:before{
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 65%;
        background-color: @grey;
    }
}

.comp-detail__inner{
    max-width: 1640px;
    margin: 0 auto;
    .clearfix();
    height: 100%;
}

.comp-detail__img{
    display: block;
    position: relative;
    float: left;
    width: 45.74%;
    height: 100%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 50% 50%;
    text-decoration: none;
    color: #ffffff !important;

    &:after{
        content: '';
        position: absolute;
        z-index: 3;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #000000;
        opacity: 0;
        .transition(all .15s ease);
    }

    &:hover:after{
        opacity: .2;
    }

}

.comp-detail__img-text{
    position: absolute;
    left: 68px;
    bottom: 56px;
    font-size: 29px;
    line-height: 1;
    font-weight: 800;
    z-index: 5;
}

.comp-detail__cont{
    position: relative;
    z-index: 4;
    float: left;
    height: 100%;
    width: 40.14%;
    .box-sizing(border-box);
}

.comp-detail__cont-inner{
    position: relative;
    padding-left: 155px;
    top: 50%;
    .transform(translate(0, -50%));
}

.comp-detail__cont-sub{
    font-size: 22px;
    color: #9b9b9b;
    line-height: 1;
    margin-bottom: 13px;
}

.comp-detail__cont-title{
    font-size: 33px;
    line-height: 1;
    color: @black;
    font-weight: 800;
    margin-bottom: 38px;
}

.comp-detail__cont-text{
    position: relative;
    font-size: 18px;
    line-height: 26px;
    margin-left: -155px;
    padding-left: 155px;

    &:before{
        content: '';
        position: absolute;
        width: 6px;
        left: -3px;
        top: 0;
        bottom: 0;
        .transition(all .15s ease);
    }
}

.comp-detail__cont-info{
    margin-top: 59px;
    border-top: 3px solid #bebaba;
    padding-top: 29px;
    margin-bottom: 36px;
}

.comp-detail__cont-btn{
    width: 100%;
    .box-sizing(border-box);
    font-size: 18px;
    font-weight: bold;
    padding-top: 14px;
    padding-bottom: 14px;
    letter-spacing: 1px;
}

.b-location{
    border: 0;
    font-size: 14px;
    color: @black;
}

.b-location__title{
    color: @grey-dark;
    padding: 3px 10px 1px 0;
    min-width: 105px;
}

//footer
.b-footer{
    padding-top: 90px;
    .clearfix();
    min-height: 350px;
    padding-bottom: 30px;
}

.b-footer__title{
    float: left;
    width: 31%;
    margin-left: 3%;
    font-size: 48px;
    line-height: 62px;
    font-weight: 800;
    margin-top: -7px;
}

.b-footer__text{
    float: left;
    width: 20%;
    margin-right: 11%;
    font-size: 22px;
    line-height: 33px;
    font-family: @pt;

    p{
        margin-top: 0;
        margin-bottom: 50px;
    }
}

.b-footer__additional{
    float: left;
    width: 21%;
    font-family: @pt;
    font-size: 22px;
    line-height: 33px;
}


@media screen and (max-width: @break_large) {
    .pmain__top-content{
        padding-left: 16px;
    }

    .pmain__inner{
        max-width: 1140px;
    }

    .pmain__top-title{
        font-size: 70px;
        line-height: 80px;
        margin-bottom: 19px;
    }

    .pmain__top-text{
        font-size: 18px;
        line-height: 24px;
        padding-right: 32%;
    }

    .comp-detail__inner,
    .footer__inner{
        max-width: 1200px !important;
    }

    .comp-detail__cont-inner{
        padding-left: 100px;
    }

    .comp-detail__cont-text{
        margin-left: -100px;
        padding-left: 100px;
    }

    .comp-detail__cont{
        width: 50%;
    }


}

@media screen and (max-width: @break_big) {
    .pmain__inner{
        max-width: 902px;
    }

    .pmain__top-content{
        width: 78%;
        padding-top: 30px;
        padding-left: 50px;

        h1{
            margin-left: -4px;
        }
    }

    .pmain__top-menu{
        width: 22%;
        padding-top: 51px;
    }

    .pmain__top-text{
        padding-right: 12%;
    }

    .b-menu__btn{
        margin-top: 22px;
    }

    // content part
    .comp-detail__inner{
        max-width: 1024px;
    }

    .comp-detail{
        height: 771px;
    }

    .comp-detail__img{
        width: 38.9%;
    }

    .comp-detail__cont{
        width: 52%;
    }

    .comp-detail__cont-inner{
        padding-left: 65px;
    }

    .comp-detail__cont-text{
        padding-left: 65px;
        margin-left: -65px;
    }

    .comp-detail__cont-sub{
        margin-bottom: 10px;
    }

    .comp-detail__cont-title{
        margin-bottom: 29px;
    }

    .comp-detail__cont-info{
        margin-top: 68px;
    }

    .b-footer{
        min-height: 190px;
    }

    .footer_type_main{
        .footer__inner{
            max-width: 881px !important;
        }
    }

    .b-footer__title{
        margin-right: 10.5%;

        .hide-text{
            display: none;
        }
    }

    .b-footer__text{
        display: none;
    }

    .b-footer__additional{
        width: 36%;
        padding-top: 8px;
    }
}

@media screen and (max-width: @break_middle) {
    .main-grid{
        .grid-bg,
        .grid-bg__inner{
            -webkit-background-size: 250px 220px;
            background-size: 250px 220px;
            background-position: center bottom;
        }
    }

    .pmain__inner{
        max-width: 768px;
        .transform(none);
        top: 0;
        padding-top: 136px;
        padding-bottom: 61px;
    }

    .pmain__top{
        height: auto !important;
    }

    .pmain__top-content{
        padding-top: 30px;
        padding-left: 60px;
        float: none;
        width: auto;
    }

    .pmain__top-title{
        font-size: 48px;
        line-height: 1;
        margin-bottom: 18px;
    }

    .pmain__top-menu{
        width: auto;
        float: none;
        padding-top: 91px;
        padding-left: 60px;
    }

    .b-menu__title{
        display: inline-block;
        vertical-align: top;
        margin-right: 10px;
        line-height: 20px;
    }

    .b-menu__list{
        display: inline-block;
        vertical-align: top;
        line-height: 20px;

        .b-menu__link{
            display: none;
        }

        .b-menu__sublink{
            display: none;
        }

        .b-submenu{
            display: inline-block;
            vertical-align: top;
        }

        .type-selected{
            display: inline-block;
            vertical-align: top;
            font-size: 18px;
            text-decoration: underline !important;
        }
    }

    .b-menu__btn{
        margin-top: 6px;
        max-width: 310px;
    }

    .comp-detail:before{
        right: 81%;
    }

    .comp-detail__inner{
        max-width: 768px;
    }

    .comp-detail__img{
        width: 19.5%;
    }

    .comp-detail__img-text{
        display: none;
    }

    .comp-detail__cont{
        width: 68%;
    }

    .comp-detail__cont-inner{
        padding-left: 55px;
    }

    .comp-detail__cont-text{
        padding-left: 55px;
        margin-left: -55px;
    }

    .footer_type_main{
        .footer__inner{
            max-width: 647px !important;
            padding: 0 30px;
        }
    }

    .b-footer{
        padding-top: 84px;
    }

    .b-footer__title{
        float: none;
        width: auto;
        margin: 0 0 21px;

        br{
            display: none !important;
        }
    }

    .b-footer__additional{
        float: none;
        width: auto;
    }


}

@media screen and (max-width: @break_small) {
    .pmain__top{
        height: auto !important;
    }

    .pmain__inner{
        padding: 104px 30px 64px;
    }

    .pmain__top-content{
        padding-left: 0;
    }

    .pmain__top-title{
        font-size: 40px;
        margin-bottom: 20px;
        line-height: 1;
    }

    .pmain__top-menu{
        padding-top: 55px;
        padding-left: 0;
    }

    .pmain__content{
        margin-top: -20px;
    }

    .b-menu__btn{
        max-width: none;
    }

    .comp-detail{
        height: auto;
        margin-bottom: 50px;

        &:before,
        &:after{
            display: none;
        }
    }

    .comp-detail__img{
        float: none;
        width: auto;
        height: 210px;
    }

    .comp-detail__img-text{
        display: block;
        left: 7%;
        bottom: 33px;
        font-size: 24px;
    }

    .comp-detail__cont{
        float: none;
        width: auto;
        padding-left: 30px;
        padding-right: 30px;
    }

    .comp-detail__cont-inner{
        position: relative;
        top: 0;
        .transform(none);
        padding-left: 0;
        padding-top: 37px;

        &:before{
            display: block;
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            width: auto;
            height: 6px;
            top: -3px;
        }
    }

    .comp-detail__cont-text{
        padding-left: 0;
        margin-left: 0;

        &:before{
            display: none;
        }
    }

    .comp-detail__cont-sub{
        font-size: 18px;
        line-height: 1;
        margin-bottom: 8px;
    }

    .comp-detail__cont-title{
        font-size: 24px;
        line-height: 1;
        margin-bottom: 21px;
    }

    .comp-detail__cont-info{
        margin-top: 32px;
    }

    .b-footer{
        padding-top: 45px;
        min-height: 0;
        padding-bottom: 45px;
    }

    .b-footer__title{
        font-size: 24px;
        line-height: 1;
        margin-bottom: 20px;
    }

    .b-footer__text{
        font-size: 22px;
        line-height: 30px;
    }
}

@media screen and (max-width: @break_phone) {
    .pmain__inner{
        padding-left: 30px;
        padding-right: 30px;
    }
}