
.p-detail{
    max-width: 1440px;
    margin: 0 auto;

    @media screen and (max-width: @break_larger){
        max-width: 1200px;
    }

    @media screen and (max-width: @break_big){
        max-width: 904px;
    }

    @media screen and (max-width: @break_middle){
        max-width: 649px;
    }
}



@import "page-detail/_top-block";
@import "page-detail/_slider-block";
@import "page-detail/_initiative-block";
@import "page-detail/_product-block";
@import "page-detail/_values-block";
@import "page-detail/_office-block";
@import "page-detail/_proff-block";




