

.psubs{
    margin: 0 auto;
    padding-top: 53px;
    max-width: 1440px;
}

.psubs-grid{
    .grid-bg{
        background-position: center top;
        -webkit-background-size: 338px;
        background-size: 338px;
    }

    .grid-bg__inner{
        background-position: center top;
        -webkit-background-size: 408px;
        background-size: 408px;
    }
}

.psubs__content-top{
    overflow: hidden;
}

.psubs__sharing{
    float: right;
}

.psubs__sharing-i{
    font-size: 24px;
    margin-left: 10px;
    color: #9494a1;
    .transition(all .15s ease);
    text-decoration: none !important;
}

.psubs__logo{
    display: inline-block;
    vertical-align: top;
    font-size: 30px;
    color: #000000 !important;
    font-family: @besa;
    text-transform: uppercase;
    text-decoration: none !important;
}

.psubs__title{
    padding-top: 145px;
    font-size: 90px;
    line-height: 1.26;
    font-weight: 800;
    color: @black;
    max-width: 980px;
    margin: 0 auto 60px;
    text-align: center;
}

.psubs__text{
    color: #5f5f5f;
    font-size: 22px;
    text-align: center;
    line-height: 1.5;
    max-width: 980px;
    margin: 0 auto;
    padding-bottom: 167px;

    b{
        font-weight: 400;
        color: @black;
        font-style: italic;
    }
}

.footer-subs{
    padding-top: 55px;
    padding-bottom: 90px;
    text-align: center;
    color: #ffffff;
}


@media screen and (max-width: @break_larger) {
    .psubs{
        max-width: 1200px;
    }

    .psubs__title{
        font-size: 70px;
    }

    .psubs__text{
        font-size: 18px;
        max-width: 700px;
    }
}


@media screen and (max-width: @break_big) {
    .psubs__logo{
        font-size: 28px;
    }

    .psubs{
        padding-top: 30px;
    }

    .psubs{
        max-width: 1024px;
    }

    .psubs__title {
        padding-top: 100px
    }
}

@media screen and (max-width: @break_middle) {
    .psubs__logo{
        font-size: 26px;
    }

    .psubs{
        max-width: none;
        padding-top: 20px;
        padding-left: 60px;
        padding-right: 60px;
    }

    .psubs__title{
        font-size: 40px;
    }

    .psubs__title{
        max-width: 500px;
    }

    .psubs__text{
        max-width: 80%;
        padding-bottom: 130px;
    }

}

@media screen and (max-width: 500px) {
    .psubs__logo{
        font-size: 20px;
    }

    .psubs{
        padding-left: 30px;
        padding-right: 30px;
    }

    .psubs__title{
        padding-top: 60px;
        font-size: 29px;
        margin-bottom: 30px;
    }

    .psubs__text{
        text-align: left;
        font-size: 16px;
        max-width: none;
        padding-bottom: 80px;
    }
}