
@base-color: @red;

.theme-red{
    overflow: hidden;

    //header
    .header__menu-link{
        &:hover,
        &.type-selected{
            color: @base-color;
        }
    }

    //about
    .b-info-content__inner:before{
        background-color: @base-color;
    }

    .b-company__title{
        color: @base-color;
    }

    //main
    .b-menu__link,
    .b-menu__sublink{
        &:hover,
        &.type-selected{
            color: @base-color;
        }
    }

    .comp-detail__cont-text:before{
        background-color: @base-color;
    }

    .footer_type_main{
        background-color: @base-color;
    }

    //controls
    .link-theme{
        color: @base-color !important;

        &:hover {
            border-color: @base-color;
        }
    }

    .link-white-theme{
        &:hover{
            color: @base-color !important;
        }
    }

    //detail page
    .p-part__title{
        color: @base-color;
    }

    .b-initiat__author{
        background-color: @base-color;
    }

    .b-product__con{
        background-color: @base-color;
    }

    .b-values{
        background-color: @base-color;
    }

    .b-office__title{
        color: @base-color;
    }

    .b-event.type-big .b-event__title{
        color: @base-color;
    }

    .b-prof__title{
        color: @base-color;
    }

    .b-hiring__content{
        background-color: @base-color;

        &:after{
            .triangle(40px, 145px, @base-color, 'left');
        }
    }

    .b-avatar{
        background-color: @base-color;
    }

    .p-slider__ava:after{
        background-color: @base-color;
    }

    .b-slider .slick-active [role="button"]{
        background: @base-color !important;
    }

    .b-slider li [role="button"]:hover{
        background: @base-color;
    }

    .pright__title{
        color: @base-color;
    }

    .b-tweet__tags .b-tag:hover{
        color: @base-color !important;
    }

    .comp-detail__cont-inner:before{
        background-color: @base-color !important;
    }

    .footer_type_main{
        background-color: @base-color;
    }

    //
    .b-social__i:hover,
    .share-link:hover{
        color: @base-color !important;
    }

    .b-product__con:after{
        .triangle(130px, 30px, @base-color, 'down');
    }

    .link-theme-u{
        color: @base-color !important;
    }

    .b-hiring__img:after{
        .triangle(80px, 20px, @base-color, 'up');
    }

    .btn-simple{
        border-color: @base-color;
        color: @base-color !important;

        &:hover{
            background: @base-color !important;
            color: #ffffff !important;
        }
    }

    .b-event:not(.type-big):hover{
        color: #ffffff !important;
        background: @base-color !important;
    }

    .psubs__logo span{
        color: @base-color !important;
    }

    .footer-subs{
        background: @base-color !important;
    }

    .f-subs__submit{
        color: @base-color !important;
    }

    .psubs__sharing-i:hover{
        color: @base-color !important;
    }
}



